In [1]:
import requests
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv("2016-2017.csv")
df2 = pd.read_csv("2017-2018.csv")
df3 = pd.read_csv("2018-2019.csv")
df4 = pd.read_csv("2019-2020.csv")
df5 = pd.read_csv("2020-2021.csv")
df6 = pd.read_csv("2021-2022.csv")

In [3]:
df1

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,1.61,32,-0.25,2.13,2.06,1.86,1.81,2.79,3.16,2.89
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,1.52,33,-0.50,2.07,2.00,1.90,1.85,2.25,3.15,3.86
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,1.77,32,0.25,1.91,1.85,2.09,2.00,3.64,3.54,2.16
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,1.67,31,0.25,2.35,2.26,2.03,1.67,4.68,3.50,1.92
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,2.48,34,-1.50,1.81,1.73,2.20,2.14,1.25,6.50,14.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,21/05/17,Liverpool,Middlesbrough,3,0,H,1,0,H,...,2.73,18,-2.50,2.02,1.97,1.95,1.90,1.15,10.50,19.09
376,E0,21/05/17,Man United,Crystal Palace,2,0,H,2,0,H,...,1.81,19,-0.25,2.19,2.11,1.85,1.79,2.35,3.38,3.35
377,E0,21/05/17,Southampton,Stoke,0,1,A,0,0,D,...,2.01,18,-0.75,2.03,1.98,1.93,1.88,1.64,4.37,5.53
378,E0,21/05/17,Swansea,West Brom,2,1,H,0,1,A,...,1.98,19,-0.50,2.11,2.06,1.86,1.82,2.29,3.45,3.40
379,E0,21/05/17,Watford,Man City,0,5,A,0,4,A,...,2.80,18,1.75,1.99,1.94,2.00,1.93,18.00,9.70,1.16

In [4]:
df = pd.concat([df1, df2, df3, df4, df5, df6])

In [5]:
epl_stat = df.reset_index()
epl_stat

,index,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,375,E0,22/05/2022,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
2276,376,E0,22/05/2022,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
2277,377,E0,22/05/2022,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
2278,378,E0,22/05/2022,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
2279,379,E0,22/05/2022,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [6]:
def HomePoint(row):
    if(row.FTR == 'H'):
        return 3
    elif(row.FTR == 'A'):
        return 0
    elif(row.FTR == 'D'):
        return 1
    else:
        return 0

In [7]:
epl_stat["HomePoint"] = epl_stat.apply(lambda row: HomePoint(row),axis=1)

In [8]:
def AwayPoint(row):
    if(row.FTR == 'A'):
        return 3
    elif(row.FTR == 'H'):
        return 0
    elif(row.FTR == 'D'):
        return 1
    else:
        return 0
epl_stat["AwayPoint"] = epl_stat.apply(lambda row: AwayPoint(row),axis=1)

In [9]:
epl_stat["pastHG"] = 0.0
epl_stat["pastAG"] = 0.0
epl_stat["pastHGC"] = 0.0
epl_stat["pastAGC"] = 0.0
epl_stat['pastHP'] = 0.0
epl_stat['pastAP'] = 0.0

In [10]:
k = 2
for i in range(0,2280):
    row = epl_stat.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
    at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
    epl_stat.at[i, 'pastHG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTAG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTHG)
    epl_stat.at[i, 'pastAG'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTAG + at_stats[at_stats["HomeTeam"] == at].sum().FTHG)
    epl_stat.at[i, 'pastHGC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTHG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTAG)
    epl_stat.at[i, 'pastAGC'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTHG + at_stats[at_stats["HomeTeam"] == at].sum().FTAG)
    epl_stat.at[i, 'pastHP'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)
    epl_stat.at[i, 'pastAP'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)

C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/2528161227.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/2528161227.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/2528161227.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTAG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTHG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/2528161227.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAG'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTAG + at_stats[at_stats["HomeTeam"] == at].sum().FTHG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/2528161227.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHGC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTHG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTAG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/2528161227.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAGC'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTHG + at_stats[at_stats["HomeTeam"] == at].sum().FTAG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/2528161227.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHP'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/2528161227.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAP'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)

In [11]:
epl_stat['HomeFullPoint'] = 0.0
epl_stat['AwayFullPoint'] = 0.0

In [20]:
for t in range(0,6):
    for i in range(380*t,380*t+380):
        row = epl_stat.loc[i]
        ht = row.HomeTeam
        at = row.AwayTeam
        ht_stats = epl_stat.loc[380*t:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)]
        at_stats = epl_stat.loc[380*t:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)]
        epl_stat.at[i, 'HomeFullPoint'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AwayPoint + ht_stats[ht_stats["HomeTeam"] == ht].sum().HomePoint)
        epl_stat.at[i, 'AwayFullPoint'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)

C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/1018413860.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[380*t:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)]
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/1018413860.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[380*t:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)]

In [21]:
epl_stat['HomeGoal'] = 0.0
epl_stat['AwayGoal'] = 0.0
epl_stat['HomeConceded'] = 0.0
epl_stat['AwayConceded'] = 0.0

In [22]:
for t in range(0,6):
    for i in range(380*t,380*t+380):
        row = epl_stat.loc[i]
        ht = row.HomeTeam
        at = row.AwayTeam
        ht_stats = epl_stat.loc[380*t:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)]
        at_stats = epl_stat.loc[380*t:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)]
        epl_stat.at[i, 'HomeGoal'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTAG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTHG)
        epl_stat.at[i, 'AwayGoal'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTAG + at_stats[at_stats["HomeTeam"] == at].sum().FTHG)
        epl_stat.at[i, 'HomeConceded'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTHG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTAG)
        epl_stat.at[i, 'AwayConceded'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTHG + at_stats[at_stats["HomeTeam"] == at].sum().FTAG)

C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/1400439700.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[380*t:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)]
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/1400439700.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[380*t:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)]

In [23]:
epl_stat['HomeAvgPoint'] = 0.0
epl_stat['AwayAvgPoint'] = 0.0
for i in range(0,2280):
    row = epl_stat.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)]
    at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)]
    epl_stat.at[i, 'HomeAvgPoint'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AwayPoint + ht_stats[ht_stats["HomeTeam"] == ht].sum().HomePoint)/len(ht_stats)
    epl_stat.at[i, 'AwayAvgPoint'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)/len(at_stats)

C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/3663701308.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)]
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/3663701308.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)]
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/3663701308.py:9: RuntimeWarning: invalid value encountered in double_scalars
  epl_stat.at[i, 'HomeAvgPoint'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AwayPoint + ht_stats[ht_stats["HomeTeam"] == ht].sum().HomePoint)/len(ht_stats)
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/3663701308.py:10: RuntimeWarning: invalid value encountered in double_scalars
  epl_stat.at[i, 'AwayAvgPoint'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)/len(at_stats)
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/3663701308.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'HomeAvgPoint'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AwayPoint + ht_stats[ht_stats["HomeTeam"] == ht].sum().HomePoint)/len(ht_stats)
C:\Users\Admin\AppData\Local\Temp/ipykernel_9140/3663701308.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'AwayAvgPoint'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)/len(at_stats)

In [25]:
epl_stat.tail(60)

,index,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,pastHP,pastAP,HomeFullPoint,AwayFullPoint,HomeGoal,AwayGoal,HomeConceded,AwayConceded,HomeAvgPoint,AwayAvgPoint
2220,320,E0,21/04/2022,Burnley,Southampton,2,0,H,2,0,...,3.0,3.0,25.0,39.0,26.0,38.0,45.0,52.0,1.140271,1.148649
2221,321,E0,23/04/2022,Arsenal,Man United,3,1,H,2,1,...,3.0,3.0,57.0,54.0,49.0,52.0,39.0,48.0,1.720721,1.838565
2222,322,E0,23/04/2022,Leicester,Aston Villa,0,0,D,0,0,...,0.0,0.0,41.0,36.0,47.0,42.0,51.0,46.0,1.411765,1.177570
2223,323,E0,23/04/2022,Man City,Watford,5,1,H,3,1,...,0.0,0.0,77.0,22.0,75.0,30.0,20.0,62.0,2.342342,1.016304
2224,324,E0,23/04/2022,Norwich,Newcastle,0,3,A,0,2,...,6.0,6.0,21.0,40.0,22.0,37.0,66.0,55.0,0.600000,1.178378
2225,325,E0,23/04/2022,Brentford,Tottenham,0,0,D,0,0,...,3.0,3.0,39.0,57.0,41.0,56.0,49.0,38.0,1.181818,1.855856
2226,326,E0,24/04/2022,Brighton,Southampton,2,2,D,2,1,...,3.0,3.0,40.0,39.0,29.0,38.0,40.0,54.0,1.070270,1.143498
2227,327,E0,24/04/2022,Burnley,Wolves,1,0,H,0,0,...,3.0,3.0,28.0,49.0,28.0,33.0,45.0,28.0,1.148649,1.438356
2228,328,E0,24/04/2022,Chelsea,West Ham,1,0,H,0,0,...,1.0,1.0,62.0,52.0,66.0,52.0,27.0,43.0,1.945701,1.322870
2229,329,E0,24/04/2022,Liverpool,Everton,2,0,H,0,0,...,4.0,4.0,76.0,29.0,83.0,34.0,22.0,53.0,2.216216,1.361991
2230,330,E0,25/04/2022,Crystal Palace,Leeds,0,0,D,0,0,...,4.0,4.0,37.0,33.0,43.0,38.0,41.0,68.0,1.162162,1.314286
2231,331,E0,28/04/2022,Man United,Chelsea,1,1,D,0,0,...,3.0,3.0,54.0,65.0,53.0,67.0,51.0,27.0,1.830357,1.950450
2232,332,E0,30/04/2022,Newcastle,Liverpool,0,1,A,0,1,...,6.0,6.0,43.0,79.0,40.0,85.0,55.0,22.0,1.188172,2.219731
2233,333,E0,30/04/2022,Aston Villa,Norwich,2,0,H,1,0,...,0.0,0.0,37.0,21.0,42.0,22.0,46.0,69.0,1.175926,0.591549
2234,334,E0,30/04/2022,Southampton,Crystal Palace,1,2,A,1,0,...,1.0,1.0,40.0,38.0,40.0,43.0,56.0,41.0,1.142857,1.161435
2235,335,E0,30/04/2022,Watford,Burnley,1,2,A,1,0,...,6.0,6.0,22.0,31.0,31.0,29.0,67.0,45.0,1.010811,1.156951
2236,336,E0,30/04/2022,Wolves,Brighton,0,3,A,0,1,...,1.0,1.0,49.0,41.0,33.0,31.0,29.0,42.0,1.428571,1.069892
2237,337,E0,30/04/2022,Leeds,Man City,0,4,A,0,1,...,6.0,6.0,34.0,80.0,38.0,80.0,68.0,21.0,1.309859,2.345291
2238,338,E0,01/05/2022,Everton,Chelsea,1,0,H,0,0,...,4.0,4.0,29.0,66.0,34.0,68.0,55.0,28.0,1.355856,1.946188
2239,339,E0,01/05/2022,Tottenham,Leicester,3,1,H,1,0,...,2.0,2.0,58.0,42.0,56.0,47.0,38.0,51.0,1.852018,1.409910
2240,340,E0,01/05/2022,West Ham,Arsenal,1,2,A,1,1,...,6.0,6.0,52.0,60.0,52.0,52.0,44.0,40.0,1.316964,1.726457
2241,341,E0,02/05/2022,Man United,Brentford,3,0,H,1,0,...,4.0,4.0,55.0,40.0,54.0,41.0,52.0,49.0,1.826667,1.176471
2242,342,E0,07/05/2022,Brentford,Southampton,3,0,H,2,0,...,1.0,1.0,40.0,40.0,41.0,41.0,52.0,58.0,1.142857,1.137778
2243,343,E0,07/05/2022,Burnley,Aston Villa,1,3,A,0,2,...,4.0,4.0,34.0,40.0,31.0,44.0,46.0,46.0,1.165179,1.192661
2244,344,E0,07/05/2022,Chelsea,Wolves,2,2,D,0,0,...,0.0,0.0,66.0,49.0,68.0,33.0,29.0,32.0,1.937500,1.418919
2245,345,E0,07/05/2022,Crystal Palace,Watford,1,0,H,1,0,...,0.0,0.0,41.0,22.0,45.0,32.0,42.0,69.0,1.169643,1.005376
2246,346,E0,07/05/2022,Brighton,Man United,4,0,H,1,0,...,4.0,4.0,44.0,58.0,34.0,57.0,42.0,52.0,1.080214,1.831858
2247,347,E0,07/05/2022,Liverpool,Tottenham,1,1,D,0,0,...,4.0,4.0,82.0,61.0,86.0,59.0,22.0,39.0,2.223214,1.857143
2248,348,E0,08/05/2022,Arsenal,Leeds,2,1,H,2,0,...,1.0,1.0,63.0,34.0,54.0,38.0,41.0,72.0,1.732143,1.291667
2249,349,E0,08/05/2022,Leicester,Everton,1,2,A,1,2,...,3.0,3.0,42.0,32.0,48.0,35.0,54.0,55.0,1.403587,1.363229
2250,350,E0,08/05/2022,Norwich,West Ham,0,4,A,0,3,...,0.0,0.0,21.0,52.0,22.0,53.0,71.0,46.0,0.583333,1.311111
2251,351,E0,08/05/2022,Man City,Newcastle,5,0,H,2,0,...,3.0,3.0,83.0,43.0,84.0,40.0,21.0,56.0,2.348214,1.181818
2252,352,E0,10/05/2022,Aston Villa,Liverpool,1,2,A,1,1,...,4.0,4.0,43.0,83.0,47.0,87.0,47.0,23.0,1.209091,2.217778
2253,353,E0,11/05/2022,Leeds,Chelsea,0,3,A,0,1,...,1.0,1.0,34.0,67.0,39.0,70.0,74.0,31.0,1.273973,1.933333
2254,354,E0,11/05/2022,Leicester,Norwich,3,0,H,0,0,...,0.0,0.0,42.0,21.0,49.0,22.0,56.0,75.0,1.397321,0.575342
2255,355,E0,11/05/2022,Watford,Everton,0,0,D,0,0,...,6.0,6.0,22.0,35.0,32.0,37.0,70.0,56.0,1.000000,1.370536
2256,356,E0,11/05/2022,Wolves,Man City,1,5,A,1,3,...,6.0,6.0,50.0,86.0,35.0,89.0,34.0,21.0,1.416107,2.351111
2257,357,E0,12/05/2022,Tottenham,Arsenal,3,0,H,2,0,...,6.0,6.0,62.0,66.0,60.0,56.0,40.0,42.0,1.853333,1.737778
2258,358,E0,15/05/2022,Tottenham,Burnley,1,0,H,1,0,...,3.0,3.0,65.0,34.0,63.0,32.0,40.0,49.0,1.858407,1.160000
2259,359,E0,15/05/2022,Aston Villa,Crystal Palace,1,1,D,0,0,...,6.0,6.0,43.0,44.0,48.0,46.0,49.0,42.0,1.198198,1.177778
2260,360,E0,15/05/2022,Leeds,Brighton,1,1,D,0,1,...,6.0,6.0,34.0,47.0,39.0,38.0,77.0,42.0,1.256757,1.090426
2261,361,E0,15/05/2022,Watford,Leicester,1,5,A,1,2,...,3.0,3.0,23.0,45.0,32.0,52.0,70.0,56.0,1.000000,1.404444
2262,362,E0,15/05/2022,West Ham,Man City,2,2,D,2,0,...,6.0,6.0,55.0,89.0,57.0,94.0,46.0,22.0,1.318584,2.353982
2263,363,E0,15/05/2022,Wolves,Norwich,1,1,D,0,1,...,0.0,0.0,50.0,21.0,36.0,22.0,39.0,78.0,1.406667,0.567568
2264,364,E0,15/05/2022,Everton,Brentford,2,3,A,2,1,...,3.0,3.0,36.0,43.0,37.0,44.0,56.0,52.0,1.368889,1.194444
2265,365,E0,16/05/2022,Newcastle,Arsenal,2,0,H,0,0,...,3.0,3.0,43.0,66.0,40.0,56.0,61.0,45.0,1.175532,1.730088
2266,366,E0,17/05/2022,Southampton,Liverpool,1,2,A,1,1,...,4.0,4.0,40.0,86.0,41.0,89.0,61.0,24.0,1.132743,2.221239
2267,367,E0,19/05/2022,Everton,Crystal Palace,3,2,H,0,2,...,4.0,4.0,36.0,45.0,39.0,47.0,59.0,43.0,1.362832,1.176991
2268,368,E0,19/05/2022,Aston Villa,Burnley,1,1,D,0,1,...,0.0,0.0,44.0,34.0,49.0,32.0,50.0,50.0,1.196429,1.154867
2269,369,E0,19/05/2022,Chelsea,Leicester,1,1,D,1,1,...,6.0,6.0,70.0,48.0,73.0,57.0,31.0,57.0,1.938053,1.411504
2270,370,E0,22/05/2022,Arsenal,Everton,5,1,H,2,1,...,3.0,3.0,66.0,39.0,56.0,42.0,47.0,61.0,1.722467,1.370044
2271,371,E0,22/05/2022,Brentford,Leeds,1,2,A,0,0,...,1.0,1.0,46.0,35.0,47.0,40.0,54.0,78.0,1.243243,1.253333
2272,372,E0,22/05/2022,Brighton,West Ham,3,1,H,0,1,...,4.0,4.0,48.0,56.0,39.0,59.0,43.0,48.0,1.089947,1.317181
2273,373,E0,22/05/2022,Burnley,Newcastle,1,2,A,0,1,...,3.0,3.0,35.0,46.0,33.0,42.0,51.0,61.0,1.154185,1.185185
2274,374,E0,22/05/2022,Chelsea,Watford,2,1,H,1,0,...,1.0,1.0,71.0,23.0,74.0,33.0,32.0,75.0,1.933921,0.994709
2275,375,E0,22/05/2022,Crystal Palace,Man United,1,0,H,1,0,...,3.0,3.0,45.0,58.0,49.0,57.0,46.0,56.0,1.171806,1.823789
2276,376,E0,22/05/2022,Leicester,Southampton,4,1,H,0,0,...,0.0,0.0,49.0,40.0,58.0,42.0,58.0,63.0,1.409692,1.127753
2277,377,E0,22/05/2022,Liverpool,Wolves,3,1,H,1,1,...,1.0,1.0,89.0,51.0,91.0,37.0,25.0,40.0,2.224670,1.403974
2278,378,E0,22/05/2022,Man City,Aston Villa,3,2,H,0,1,...,2.0,2.0,90.0,45.0,96.0,50.0,24.0,51.0,2.348018,1.194690
2279,379,E0,22/05/2022,Norwich,Tottenham,0,5,A,0,2,...,6.0,6.0,22.0,68.0,23.0,64.0,79.0,40.0,0.573333,1.863436

In [26]:
epl_stat = epl_stat.replace(np.nan, 0)

In [27]:
data = epl_stat.reset_index()
data

,level_0,index,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,pastHP,pastAP,HomeFullPoint,AwayFullPoint,HomeGoal,AwayGoal,HomeConceded,AwayConceded,HomeAvgPoint,AwayAvgPoint
0,0,0,E0,13/08/16,Burnley,Swansea,0,1,A,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,1,1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,2,2,E0,13/08/16,Everton,Tottenham,1,1,D,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,3,3,E0,13/08/16,Hull,Leicester,2,1,H,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
4,4,4,E0,13/08/16,Man City,Sunderland,2,1,H,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,2275,375,E0,22/05/2022,Crystal Palace,Man United,1,0,H,1,...,3.0,3.0,45.0,58.0,49.0,57.0,46.0,56.0,1.171806,1.823789
2276,2276,376,E0,22/05/2022,Leicester,Southampton,4,1,H,0,...,0.0,0.0,49.0,40.0,58.0,42.0,58.0,63.0,1.409692,1.127753
2277,2277,377,E0,22/05/2022,Liverpool,Wolves,3,1,H,1,...,1.0,1.0,89.0,51.0,91.0,37.0,25.0,40.0,2.224670,1.403974
2278,2278,378,E0,22/05/2022,Man City,Aston Villa,3,2,H,0,...,2.0,2.0,90.0,45.0,96.0,50.0,24.0,51.0,2.348018,1.194690
2279,2279,379,E0,22/05/2022,Norwich,Tottenham,0,5,A,0,...,6.0,6.0,22.0,68.0,23.0,64.0,79.0,40.0,0.573333,1.863436

In [28]:
data['Season'] = 2016 + data['level_0']//380

In [29]:
data[['HomeTeam','AwayTeam','HomeFullPoint','AwayFullPoint']]

            HomeTeam     AwayTeam  HomeFullPoint  AwayFullPoint
0            Burnley      Swansea            0.0            0.0
1     Crystal Palace    West Brom            0.0            0.0
2            Everton    Tottenham            0.0            0.0
3               Hull    Leicester            0.0            0.0
4           Man City   Sunderland            0.0            0.0
...              ...          ...            ...            ...
2275  Crystal Palace   Man United           45.0           58.0
2276       Leicester  Southampton           49.0           40.0
2277       Liverpool       Wolves           89.0           51.0
2278        Man City  Aston Villa           90.0           45.0
2279         Norwich    Tottenham           22.0           68.0

[2280 rows x 4 columns]

In [30]:
data['Matchweek'] = data['index']//10+1
data[['Matchweek']]

      Matchweek
0             1
1             1
2             1
3             1
4             1
...         ...
2275         38
2276         38
2277         38
2278         38
2279         38

[2280 rows x 1 columns]

In [31]:
data["Home_code"] = data["HomeTeam"].astype("category").cat.codes
data["Away_code"] = data["AwayTeam"].astype("category").cat.codes
data["Venue_code"] = data["Home_code"]
data["Referee"] = data["Referee"].astype("category").cat.codes

In [33]:
data.to_csv('1622.csv')

In [34]:
data

,level_0,index,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AwayGoal,HomeConceded,AwayConceded,HomeAvgPoint,AwayAvgPoint,Season,Matchweek,Home_code,Away_code,Venue_code
0,0,0,E0,13/08/16,Burnley,Swansea,0,1,A,0,...,0.0,0.0,0.0,0.000000,0.000000,2016,1,5,25,5
1,1,1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,...,0.0,0.0,0.0,0.000000,0.000000,2016,1,8,28,8
2,2,2,E0,13/08/16,Everton,Tottenham,1,1,D,1,...,0.0,0.0,0.0,0.000000,0.000000,2016,1,9,26,9
3,3,3,E0,13/08/16,Hull,Leicester,2,1,H,1,...,0.0,0.0,0.0,0.000000,0.000000,2016,1,12,14,12
4,4,4,E0,13/08/16,Man City,Sunderland,2,1,H,1,...,0.0,0.0,0.0,0.000000,0.000000,2016,1,16,24,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,2275,375,E0,22/05/2022,Crystal Palace,Man United,1,0,H,1,...,57.0,46.0,56.0,1.171806,1.823789,2021,38,8,17,8
2276,2276,376,E0,22/05/2022,Leicester,Southampton,4,1,H,0,...,42.0,58.0,63.0,1.409692,1.127753,2021,38,14,22,14
2277,2277,377,E0,22/05/2022,Liverpool,Wolves,3,1,H,1,...,37.0,25.0,40.0,2.224670,1.403974,2021,38,15,30,15
2278,2278,378,E0,22/05/2022,Man City,Aston Villa,3,2,H,0,...,50.0,24.0,51.0,2.348018,1.194690,2021,38,16,1,16
2279,2279,379,E0,22/05/2022,Norwich,Tottenham,0,5,A,0,...,64.0,79.0,40.0,0.573333,1.863436,2021,38,20,26,20