In [2]:
import requests
import numpy as np

In [3]:
standings_url = "https://fbref.com/en/comps/9/schedule/Premier-League-Scores-and-Fixtures"

In [4]:
data = requests.get(standings_url)

In [5]:
import pandas as pd
matches = pd.read_html(data.text)[0]

In [6]:
matches[139:147]

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
139,13.0,Sun,2022-10-23,14:00,Southampton,0.7,1–1,1.0,Arsenal,31145.0,St. Mary's Stadium,Robert Jones,Match Report,NaN
140,13.0,Sun,2022-10-23,16:30,Tottenham,1.6,1–2,1.2,Newcastle Utd,61726.0,Tottenham Hotspur Stadium,Jarred Gillett,Match Report,NaN
141,13.0,Mon,2022-10-24,20:00,West Ham,1.9,2–0,0.4,Bournemouth,62447.0,London Stadium,David Coote,Match Report,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,14.0,Sat,2022-10-29,12:30,Leicester City,0.7,0–1,1.0,Manchester City,32223.0,King Power Stadium,Robert Jones,Match Report,NaN
144,14.0,Sat,2022-10-29,15:00,Brentford,1.4,1–1,0.6,Wolves,17051.0,Brentford Community Stadium,Robert Madley,Match Report,NaN
145,14.0,Sat,2022-10-29,15:00,Crystal Palace,0.9,1–0,1.3,Southampton,25130.0,Selhurst Park,Michael Salisbury,Match Report,NaN
146,14.0,Sat,2022-10-29,15:00,Newcastle Utd,3.4,4–0,0.4,Aston Villa,52233.0,St. James' Park,Paul Tierney,Match Report,NaN

In [7]:
matches["Score"] = matches['Score'].apply(str)
matches["Score"] = matches['Score'].apply(list)

In [8]:
matches.head(11)
matches = matches[matches.Wk.notnull()]
matches.head(11)

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1.0,Fri,2022-08-05,20:00,Crystal Palace,1.2,"[0, –, 2]",1.0,Arsenal,25286.0,Selhurst Park,Anthony Taylor,Match Report,NaN
1,1.0,Sat,2022-08-06,12:30,Fulham,1.2,"[2, –, 2]",1.2,Liverpool,22207.0,Craven Cottage,Andy Madley,Match Report,NaN
2,1.0,Sat,2022-08-06,15:00,Tottenham,1.5,"[4, –, 1]",0.5,Southampton,61732.0,Tottenham Hotspur Stadium,Andre Marriner,Match Report,NaN
3,1.0,Sat,2022-08-06,15:00,Newcastle Utd,1.7,"[2, –, 0]",0.3,Nott'ham Forest,52245.0,St. James' Park,Simon Hooper,Match Report,NaN
4,1.0,Sat,2022-08-06,15:00,Leeds United,0.8,"[2, –, 1]",1.3,Wolves,36347.0,Elland Road,Robert Jones,Match Report,NaN
5,1.0,Sat,2022-08-06,15:00,Bournemouth,0.6,"[2, –, 0]",0.7,Aston Villa,11013.0,Vitality Stadium,Peter Bankes,Match Report,NaN
6,1.0,Sat,2022-08-06,17:30,Everton,0.7,"[0, –, 1]",1.5,Chelsea,39254.0,Goodison Park,Craig Pawson,Match Report,NaN
7,1.0,Sun,2022-08-07,14:00,Leicester City,0.6,"[2, –, 2]",0.8,Brentford,31794.0,King Power Stadium,Jarred Gillett,Match Report,NaN
8,1.0,Sun,2022-08-07,14:00,Manchester Utd,1.4,"[1, –, 2]",1.5,Brighton,73711.0,Old Trafford,Paul Tierney,Match Report,NaN
9,1.0,Sun,2022-08-07,16:30,West Ham,0.5,"[0, –, 2]",2.2,Manchester City,62443.0,London Stadium,Michael Oliver,Match Report,NaN
11,2.0,Sat,2022-08-13,12:30,Aston Villa,2.3,"[2, –, 1]",1.6,Everton,41883.0,Villa Park,Michael Oliver,Match Report,NaN

In [9]:
matches.reset_index(inplace=True)
matches.reset_index(inplace=True)
matches

,level_0,index,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,0,0,1.0,Fri,2022-08-05,20:00,Crystal Palace,1.2,"[0, –, 2]",1.0,Arsenal,25286.0,Selhurst Park,Anthony Taylor,Match Report,NaN
1,1,1,1.0,Sat,2022-08-06,12:30,Fulham,1.2,"[2, –, 2]",1.2,Liverpool,22207.0,Craven Cottage,Andy Madley,Match Report,NaN
2,2,2,1.0,Sat,2022-08-06,15:00,Tottenham,1.5,"[4, –, 1]",0.5,Southampton,61732.0,Tottenham Hotspur Stadium,Andre Marriner,Match Report,NaN
3,3,3,1.0,Sat,2022-08-06,15:00,Newcastle Utd,1.7,"[2, –, 0]",0.3,Nott'ham Forest,52245.0,St. James' Park,Simon Hooper,Match Report,NaN
4,4,4,1.0,Sat,2022-08-06,15:00,Leeds United,0.8,"[2, –, 1]",1.3,Wolves,36347.0,Elland Road,Robert Jones,Match Report,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,412,38.0,Sun,2023-05-28,15:00,Everton,NaN,"[n, a, n]",NaN,Bournemouth,NaN,Goodison Park,NaN,Head-to-Head,NaN
376,376,413,38.0,Sun,2023-05-28,15:00,Leicester City,NaN,"[n, a, n]",NaN,West Ham,NaN,King Power Stadium,NaN,Head-to-Head,NaN
377,377,414,38.0,Sun,2023-05-28,15:00,Aston Villa,NaN,"[n, a, n]",NaN,Brighton,NaN,Villa Park,NaN,Head-to-Head,NaN
378,378,415,38.0,Sun,2023-05-28,15:00,Leeds United,NaN,"[n, a, n]",NaN,Tottenham,NaN,Elland Road,NaN,Head-to-Head,NaN
379,379,416,38.0,Sun,2023-05-28,15:00,Brentford,NaN,"[n, a, n]",NaN,Manchester City,NaN,Brentford Community Stadium,NaN,Head-to-Head,NaN

In [10]:
df = pd.DataFrame(matches[['Score','level_0']])
df[['FTHG','vs','FTAG']] = pd.DataFrame(df.Score.tolist(), index= df.index)
df

         Score  level_0 FTHG vs FTAG
0    [0, –, 2]        0    0  –    2
1    [2, –, 2]        1    2  –    2
2    [4, –, 1]        2    4  –    1
3    [2, –, 0]        3    2  –    0
4    [2, –, 1]        4    2  –    1
..         ...      ...  ... ..  ...
375  [n, a, n]      375    n  a    n
376  [n, a, n]      376    n  a    n
377  [n, a, n]      377    n  a    n
378  [n, a, n]      378    n  a    n
379  [n, a, n]      379    n  a    n

[380 rows x 5 columns]

In [11]:
match = matches.drop('Score', axis=1)
match

,level_0,index,Wk,Day,Date,Time,Home,xG,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,0,0,1.0,Fri,2022-08-05,20:00,Crystal Palace,1.2,1.0,Arsenal,25286.0,Selhurst Park,Anthony Taylor,Match Report,NaN
1,1,1,1.0,Sat,2022-08-06,12:30,Fulham,1.2,1.2,Liverpool,22207.0,Craven Cottage,Andy Madley,Match Report,NaN
2,2,2,1.0,Sat,2022-08-06,15:00,Tottenham,1.5,0.5,Southampton,61732.0,Tottenham Hotspur Stadium,Andre Marriner,Match Report,NaN
3,3,3,1.0,Sat,2022-08-06,15:00,Newcastle Utd,1.7,0.3,Nott'ham Forest,52245.0,St. James' Park,Simon Hooper,Match Report,NaN
4,4,4,1.0,Sat,2022-08-06,15:00,Leeds United,0.8,1.3,Wolves,36347.0,Elland Road,Robert Jones,Match Report,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,412,38.0,Sun,2023-05-28,15:00,Everton,NaN,NaN,Bournemouth,NaN,Goodison Park,NaN,Head-to-Head,NaN
376,376,413,38.0,Sun,2023-05-28,15:00,Leicester City,NaN,NaN,West Ham,NaN,King Power Stadium,NaN,Head-to-Head,NaN
377,377,414,38.0,Sun,2023-05-28,15:00,Aston Villa,NaN,NaN,Brighton,NaN,Villa Park,NaN,Head-to-Head,NaN
378,378,415,38.0,Sun,2023-05-28,15:00,Leeds United,NaN,NaN,Tottenham,NaN,Elland Road,NaN,Head-to-Head,NaN
379,379,416,38.0,Sun,2023-05-28,15:00,Brentford,NaN,NaN,Manchester City,NaN,Brentford Community Stadium,NaN,Head-to-Head,NaN

In [12]:
df['FTHG'] = df['FTHG'].replace('n', -1)
df['FTAG'] = df['FTAG'].replace('n', -1)
df

         Score  level_0 FTHG vs FTAG
0    [0, –, 2]        0    0  –    2
1    [2, –, 2]        1    2  –    2
2    [4, –, 1]        2    4  –    1
3    [2, –, 0]        3    2  –    0
4    [2, –, 1]        4    2  –    1
..         ...      ...  ... ..  ...
375  [n, a, n]      375   -1  a   -1
376  [n, a, n]      376   -1  a   -1
377  [n, a, n]      377   -1  a   -1
378  [n, a, n]      378   -1  a   -1
379  [n, a, n]      379   -1  a   -1

[380 rows x 5 columns]

In [13]:
df_1 = df.drop('Score', axis=1)

In [14]:
df_2 = df_1.drop('vs', axis=1)
df_2.head(100)

    level_0 FTHG FTAG
0         0    0    2
1         1    2    2
2         2    4    1
3         3    2    0
4         4    2    1
..      ...  ...  ...
95       95    3    1
96       96    2    1
97       97    3    2
98       98    1    2
99       99    1    1

[100 rows x 3 columns]

In [15]:
w = pd.merge(match, df_2, on ='level_0')
w.tail(200)

,level_0,index,Wk,Day,Date,Time,Home,xG,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes,FTHG,FTAG
180,180,198,19.0,Mon,2023-01-02,17:30,Brentford,NaN,NaN,Liverpool,NaN,Brentford Community Stadium,NaN,Head-to-Head,NaN,-1,-1
181,181,199,19.0,Tue,2023-01-03,19:45,Leicester City,NaN,NaN,Fulham,NaN,King Power Stadium,NaN,Head-to-Head,NaN,-1,-1
182,182,200,19.0,Tue,2023-01-03,19:45,Everton,NaN,NaN,Brighton,NaN,Goodison Park,NaN,Head-to-Head,NaN,-1,-1
183,183,201,19.0,Tue,2023-01-03,20:00,Manchester Utd,NaN,NaN,Bournemouth,NaN,Old Trafford,NaN,Head-to-Head,NaN,-1,-1
184,184,202,19.0,Tue,2023-01-03,20:00,Arsenal,NaN,NaN,Newcastle Utd,NaN,Emirates Stadium,NaN,Head-to-Head,NaN,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,412,38.0,Sun,2023-05-28,15:00,Everton,NaN,NaN,Bournemouth,NaN,Goodison Park,NaN,Head-to-Head,NaN,-1,-1
376,376,413,38.0,Sun,2023-05-28,15:00,Leicester City,NaN,NaN,West Ham,NaN,King Power Stadium,NaN,Head-to-Head,NaN,-1,-1
377,377,414,38.0,Sun,2023-05-28,15:00,Aston Villa,NaN,NaN,Brighton,NaN,Villa Park,NaN,Head-to-Head,NaN,-1,-1
378,378,415,38.0,Sun,2023-05-28,15:00,Leeds United,NaN,NaN,Tottenham,NaN,Elland Road,NaN,Head-to-Head,NaN,-1,-1
379,379,416,38.0,Sun,2023-05-28,15:00,Brentford,NaN,NaN,Manchester City,NaN,Brentford Community Stadium,NaN,Head-to-Head,NaN,-1,-1

In [16]:
epl = w[['level_0','Wk','Home','Away','FTHG','FTAG','xG','xG.1']]
epl = epl.drop([60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 74, 77, 79, 114]).reset_index()

In [17]:
epl["FTHG"] = epl['FTHG'].apply(int)
epl["FTAG"] = epl['FTAG'].apply(int)
epl['xG'] = epl['xG'].replace(np.nan, -1)
epl['xG.1'] = epl['xG.1'].replace(np.nan, -1)
epl['xG'] = epl['xG'].apply(float)
epl['xG.1'] = epl['xG.1'].apply(float)
epl['xG'] = epl['xG'].replace(-1, 0)
epl['xG.1'] = epl['xG.1'].replace(-1, 0)

In [18]:
epl['HomeTeam'] = epl['Home']
epl['AwayTeam'] = epl['Away']
feat_table = epl[['level_0','Wk','HomeTeam','AwayTeam','FTHG','FTAG','xG','xG.1']]
feat_table

     level_0    Wk        HomeTeam         AwayTeam  FTHG  FTAG   xG  xG.1
0          0   1.0  Crystal Palace          Arsenal     0     2  1.2   1.0
1          1   1.0          Fulham        Liverpool     2     2  1.2   1.2
2          2   1.0       Tottenham      Southampton     4     1  1.5   0.5
3          3   1.0   Newcastle Utd  Nott'ham Forest     2     0  1.7   0.3
4          4   1.0    Leeds United           Wolves     2     1  0.8   1.3
..       ...   ...             ...              ...   ...   ...  ...   ...
361      375  38.0         Everton      Bournemouth    -1    -1  0.0   0.0
362      376  38.0  Leicester City         West Ham    -1    -1  0.0   0.0
363      377  38.0     Aston Villa         Brighton    -1    -1  0.0   0.0
364      378  38.0    Leeds United        Tottenham    -1    -1  0.0   0.0
365      379  38.0       Brentford  Manchester City    -1    -1  0.0   0.0

[366 rows x 8 columns]

In [19]:
def Result(row):
    if(row.FTHG > row.FTAG):
        return 'H'
    elif(row.FTHG < row.FTAG):
        return 'A'
    elif(row.FTHG == -1):
        return np.nan
    else:
        return 'D'
feat_table["Result"] = feat_table.apply(lambda row: Result(row),axis=1)
feat_table

C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/2851648705.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat_table["Result"] = feat_table.apply(lambda row: Result(row),axis=1)

,level_0,Wk,HomeTeam,AwayTeam,FTHG,FTAG,xG,xG.1,Result
0,0,1.0,Crystal Palace,Arsenal,0,2,1.2,1.0,A
1,1,1.0,Fulham,Liverpool,2,2,1.2,1.2,D
2,2,1.0,Tottenham,Southampton,4,1,1.5,0.5,H
3,3,1.0,Newcastle Utd,Nott'ham Forest,2,0,1.7,0.3,H
4,4,1.0,Leeds United,Wolves,2,1,0.8,1.3,H
...,...,...,...,...,...,...,...,...,...
361,375,38.0,Everton,Bournemouth,-1,-1,0.0,0.0,NaN
362,376,38.0,Leicester City,West Ham,-1,-1,0.0,0.0,NaN
363,377,38.0,Aston Villa,Brighton,-1,-1,0.0,0.0,NaN
364,378,38.0,Leeds United,Tottenham,-1,-1,0.0,0.0,NaN
365,379,38.0,Brentford,Manchester City,-1,-1,0.0,0.0,NaN

In [20]:
stat = pd.read_csv("EPL.csv")
stat['HomeTeam'] = stat['HomeTeam'].replace('Newcastle', 'Newcastle Utd').replace('Leeds', 'Leeds United').replace('Leicester','Leicester City').replace("Nott'm Forest","Nott'ham Forest").replace('Man United','Manchester Utd').replace('Man City','Manchester City')
stat['AwayTeam'] = stat['AwayTeam'].replace('Newcastle', 'Newcastle Utd').replace('Leeds', 'Leeds United').replace('Leicester','Leicester City').replace("Nott'm Forest","Nott'ham Forest").replace('Man United','Manchester Utd').replace('Man City','Manchester City')
stat.head(10)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds United,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle Utd,Nott'ham Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
5,E0,06/08/2022,15:00,Tottenham,Southampton,4,1,H,2,1,...,2.31,-1.50,2.07,1.86,2.04,1.88,2.08,1.88,2.03,1.85
6,E0,06/08/2022,17:30,Everton,Chelsea,0,1,A,0,1,...,1.77,1.00,1.93,2.00,1.94,1.98,1.94,2.11,1.88,2.00
7,E0,07/08/2022,14:00,Leicester City,Brentford,2,2,D,1,0,...,1.97,-0.50,1.94,1.99,1.96,1.96,1.96,2.04,1.92,1.96
8,E0,07/08/2022,14:00,Manchester Utd,Brighton,1,2,A,0,2,...,1.94,-0.75,2.06,1.87,2.05,1.88,2.08,1.97,2.00,1.88
9,E0,07/08/2022,16:30,West Ham,Manchester City,0,2,A,0,1,...,2.62,1.50,1.85,2.08,1.85,2.08,2.00,2.12,1.85,2.04

In [21]:
feat_table["FTHG"] = epl['FTHG'].replace(-1, 0)
feat_table["FTAG"] = epl['FTAG'].replace(-1, 0)

C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/3708407592.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat_table["FTHG"] = epl['FTHG'].replace(-1, 0)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/3708407592.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat_table["FTAG"] = epl['FTAG'].replace(-1, 0)

In [22]:
feat_table["Match"] = feat_table['HomeTeam'] +"-"+ feat_table['AwayTeam']
stat["Match"] = stat['HomeTeam'] +"-"+ stat['AwayTeam']

C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/1596350805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat_table["Match"] = feat_table['HomeTeam'] +"-"+ feat_table['AwayTeam']

In [23]:
new_df = pd.merge(feat_table, stat, on='Match', how='left')
new_df[125:145]

,level_0,Wk,HomeTeam_x,AwayTeam_x,FTHG_x,FTAG_x,xG,xG.1,Result,Match,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
125,139,14.0,Manchester Utd,West Ham,1,0,1.2,1.1,H,Manchester Utd-West Ham,...,1.98,-0.75,1.92,1.98,1.94,1.98,1.95,2.10,1.92,1.96
126,140,15.0,Nott'ham Forest,Brentford,2,2,1.5,1.5,D,Nott'ham Forest-Brentford,...,1.68,0.00,1.87,2.03,1.88,2.04,1.90,2.10,1.84,2.02
127,141,15.0,Leeds United,Bournemouth,4,3,2.2,1.5,H,Leeds United-Bournemouth,...,2.14,-1.00,2.06,1.84,2.12,1.83,2.34,1.90,2.09,1.80
128,142,15.0,Manchester City,Fulham,2,1,2.1,1.0,H,Manchester City-Fulham,...,3.19,-2.25,2.06,1.84,2.08,1.83,2.11,1.86,2.06,1.82
129,143,15.0,Wolves,Brighton,2,3,1.2,1.5,A,Wolves-Brighton,...,1.68,0.25,2.01,1.89,2.02,1.91,2.05,1.92,2.01,1.85
130,144,15.0,Everton,Leicester City,0,2,1.2,2.3,A,Everton-Leicester City,...,1.83,0.00,1.79,2.11,1.83,2.12,1.86,2.17,1.80,2.08
131,145,15.0,Chelsea,Arsenal,0,1,0.3,2.1,A,Chelsea-Arsenal,...,1.92,0.00,1.95,1.95,1.99,1.93,2.02,1.98,1.96,1.91
132,146,15.0,West Ham,Crystal Palace,1,2,0.3,1.0,A,West Ham-Crystal Palace,...,1.76,-0.50,1.88,2.02,1.89,2.03,2.03,2.05,1.88,1.99
133,147,15.0,Southampton,Newcastle Utd,1,4,1.7,0.9,A,Southampton-Newcastle Utd,...,1.91,0.50,2.08,1.82,2.08,1.85,2.11,1.87,2.04,1.84
134,148,15.0,Aston Villa,Manchester Utd,3,1,0.6,0.5,H,Aston Villa-Manchester Utd,...,1.94,0.25,1.89,2.01,1.90,2.02,1.94,2.05,1.90,1.97
135,149,15.0,Tottenham,Liverpool,1,2,1.2,1.2,A,Tottenham-Liverpool,...,2.27,0.50,1.87,2.03,1.88,2.05,1.92,2.10,1.84,2.04
136,150,16.0,Manchester City,Brentford,0,0,0.0,0.0,NaN,Manchester City-Brentford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,151,16.0,Tottenham,Leeds United,0,0,0.0,0.0,NaN,Tottenham-Leeds United,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,152,16.0,Liverpool,Southampton,0,0,0.0,0.0,NaN,Liverpool-Southampton,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,153,16.0,Bournemouth,Everton,0,0,0.0,0.0,NaN,Bournemouth-Everton,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,154,16.0,West Ham,Leicester City,0,0,0.0,0.0,NaN,West Ham-Leicester City,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,155,16.0,Nott'ham Forest,Crystal Palace,0,0,0.0,0.0,NaN,Nott'ham Forest-Crystal Palace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,156,16.0,Newcastle Utd,Chelsea,0,0,0.0,0.0,NaN,Newcastle Utd-Chelsea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,157,16.0,Wolves,Arsenal,0,0,0.0,0.0,NaN,Wolves-Arsenal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,158,16.0,Brighton,Aston Villa,0,0,0.0,0.0,NaN,Brighton-Aston Villa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
epl_stat=new_df[['Div','Date','Time','Wk','HomeTeam_x','AwayTeam_x','Result','FTHG_x','FTAG_x','xG','xG.1','HS','AS','HST','AST']]

In [25]:
epl_stat[110:130]

,Div,Date,Time,Wk,HomeTeam_x,AwayTeam_x,Result,FTHG_x,FTAG_x,xG,xG.1,HS,AS,HST,AST
110,E0,23/10/2022,14:00,13.0,Aston Villa,Brentford,H,4,0,2.8,0.9,19.0,12.0,11.0,3.0
111,E0,23/10/2022,14:00,13.0,Wolves,Leicester City,A,0,4,2.1,0.9,21.0,5.0,5.0,4.0
112,E0,23/10/2022,14:00,13.0,Leeds United,Fulham,A,2,3,1.6,1.8,14.0,11.0,5.0,5.0
113,E0,23/10/2022,14:00,13.0,Southampton,Arsenal,D,1,1,0.7,1.0,10.0,12.0,3.0,3.0
114,E0,23/10/2022,16:30,13.0,Tottenham,Newcastle Utd,A,1,2,1.6,1.2,17.0,13.0,5.0,5.0
115,E0,24/10/2022,20:00,13.0,West Ham,Bournemouth,H,2,0,1.9,0.4,20.0,5.0,4.0,3.0
116,E0,29/10/2022,12:30,14.0,Leicester City,Manchester City,A,0,1,0.7,1.0,10.0,15.0,5.0,5.0
117,E0,29/10/2022,15:00,14.0,Brentford,Wolves,D,1,1,1.4,0.6,12.0,14.0,3.0,4.0
118,E0,29/10/2022,15:00,14.0,Crystal Palace,Southampton,H,1,0,0.9,1.3,12.0,14.0,3.0,4.0
119,E0,29/10/2022,15:00,14.0,Newcastle Utd,Aston Villa,H,4,0,3.4,0.4,20.0,3.0,7.0,0.0
120,E0,29/10/2022,15:00,14.0,Brighton,Chelsea,H,4,1,2.4,1.4,19.0,15.0,9.0,7.0
121,E0,29/10/2022,15:00,14.0,Bournemouth,Tottenham,A,2,3,0.5,2.0,6.0,23.0,4.0,7.0
122,E0,29/10/2022,17:30,14.0,Fulham,Everton,D,0,0,1.9,0.9,24.0,9.0,6.0,4.0
123,E0,29/10/2022,19:45,14.0,Liverpool,Leeds United,A,1,2,1.7,1.8,22.0,14.0,10.0,6.0
124,E0,30/10/2022,14:00,14.0,Arsenal,Nott'ham Forest,H,5,0,2.3,0.4,24.0,5.0,10.0,2.0
125,E0,30/10/2022,16:15,14.0,Manchester Utd,West Ham,H,1,0,1.2,1.1,16.0,13.0,3.0,5.0
126,E0,05/11/2022,15:00,15.0,Nott'ham Forest,Brentford,D,2,2,1.5,1.5,15.0,6.0,7.0,2.0
127,E0,05/11/2022,15:00,15.0,Leeds United,Bournemouth,H,4,3,2.2,1.5,18.0,9.0,4.0,6.0
128,E0,05/11/2022,15:00,15.0,Manchester City,Fulham,H,2,1,2.1,1.0,16.0,4.0,5.0,2.0
129,E0,05/11/2022,15:00,15.0,Wolves,Brighton,A,2,3,1.2,1.5,8.0,19.0,5.0,8.0

In [26]:
epl_stat['FTHG'] = epl_stat['FTHG_x']
epl_stat['FTAG'] = epl_stat['FTAG_x']
epl_stat['HxG'] = epl_stat['xG']
epl_stat['AxG'] = epl_stat['xG.1']
epl_stat['HomeTeam'] = epl_stat['HomeTeam_x']
epl_stat['AwayTeam'] = epl_stat['AwayTeam_x']

C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/1589987248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['FTHG'] = epl_stat['FTHG_x']
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/1589987248.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['FTAG'] = epl_stat['FTAG_x']
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/1589987248.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['HxG'] = epl_stat['xG']
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/1589987248.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['AxG'] = epl_stat['xG.1']
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/1589987248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['HomeTeam'] = epl_stat['HomeTeam_x']
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/1589987248.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['AwayTeam'] = epl_stat['AwayTeam_x']

In [27]:
epl_stat=epl_stat[['Wk','HomeTeam','AwayTeam','Result','FTHG','FTAG','HxG','AxG','HS','AS','HST','AST']]

In [28]:
epl_stat.dtypes

Wk          float64
HomeTeam     object
AwayTeam     object
Result       object
FTHG          int64
FTAG          int64
HxG         float64
AxG         float64
HS          float64
AS          float64
HST         float64
AST         float64
dtype: object

In [29]:
epl_stat["pastHG"] = 0.0
epl_stat["pastAG"] = 0.0
epl_stat["pastHxG"] = 0.0
epl_stat["pastAxG"] = 0.0
epl_stat["pastHS"] = 0.0
epl_stat["pastAS"] = 0.0
epl_stat["pastHST"] = 0.0
epl_stat["pastAST"] = 0.0

In [30]:
k = 3
for i in range(0,366):
    row = epl_stat.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
    at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
    epl_stat.at[i, 'pastHG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTAG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTHG)
    epl_stat.at[i, 'pastAG'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTAG + at_stats[at_stats["HomeTeam"] == at].sum().FTHG)
    epl_stat.at[i, 'pastHxG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AxG + ht_stats[ht_stats["HomeTeam"] == ht].sum().HxG)
    epl_stat.at[i, 'pastAxG'] = (at_stats[at_stats["AwayTeam"] == at].sum().AxG + at_stats[at_stats["HomeTeam"] == at].sum().HxG)
    epl_stat.at[i, 'pastHS'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AS + ht_stats[ht_stats["HomeTeam"] == ht].sum().HS)
    epl_stat.at[i, 'pastAS'] = (at_stats[at_stats["AwayTeam"] == at].sum().AS + at_stats[at_stats["HomeTeam"] == at].sum().HS)
    epl_stat.at[i, 'pastHST'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AST + ht_stats[ht_stats["HomeTeam"] == ht].sum().HST)
    epl_stat.at[i, 'pastAST'] = (at_stats[at_stats["AwayTeam"] == at].sum().AST + at_stats[at_stats["HomeTeam"] == at].sum().HST)

C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/2219820124.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/2219820124.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/2219820124.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTAG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTHG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/2219820124.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAG'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTAG + at_stats[at_stats["HomeTeam"] == at].sum().FTHG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/2219820124.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHxG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AxG + ht_stats[ht_stats["HomeTeam"] == ht].sum().HxG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/2219820124.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAxG'] = (at_stats[at_stats["AwayTeam"] == at].sum().AxG + at_stats[at_stats["HomeTeam"] == at].sum().HxG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/2219820124.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHS'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AS + ht_stats[ht_stats["HomeTeam"] == ht].sum().HS)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/2219820124.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAS'] = (at_stats[at_stats["AwayTeam"] == at].sum().AS + at_stats[at_stats["HomeTeam"] == at].sum().HS)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/2219820124.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHST'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AST + ht_stats[ht_stats["HomeTeam"] == ht].sum().HST)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/2219820124.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAST'] = (at_stats[at_stats["AwayTeam"] == at].sum().AST + at_stats[at_stats["HomeTeam"] == at].sum().HST)

In [31]:
epl_stat[136:145]

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,HST,AST,pastHG,pastAG,pastHxG,pastAxG,pastHS,pastAS,pastHST,pastAST
136,16.0,Manchester City,Brentford,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,6.0,3.0,4.7,3.8,41.0,30.0,14.0,8.0
137,16.0,Tottenham,Leeds United,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,5.0,8.0,4.8,5.6,54.0,46.0,17.0,15.0
138,16.0,Liverpool,Southampton,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,3.0,2.0,4.5,3.7,50.0,40.0,23.0,12.0
139,16.0,Bournemouth,Everton,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,5.0,3.0,2.4,3.5,20.0,30.0,13.0,12.0
140,16.0,West Ham,Leicester City,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,3.0,6.0,3.3,3.9,38.0,37.0,11.0,17.0
141,16.0,Nott'ham Forest,Crystal Palace,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,3.0,3.0,3.8,2.8,30.0,36.0,16.0,11.0
142,16.0,Newcastle Utd,Chelsea,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,10.0,2.0,5.5,2.8,40.0,26.0,16.0,10.0
143,16.0,Wolves,Arsenal,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,3.0,7.0,3.9,5.4,43.0,50.0,14.0,15.0
144,16.0,Brighton,Aston Villa,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,8.0,7.0,4.4,3.8,46.0,28.0,19.0,15.0

In [32]:
def HomePoint(row):
    if(row.Result == 'H'):
        return 3
    elif(row.Result == 'A'):
        return 0
    elif(row.Result == 'D'):
        return 1
    else:
        return 0

In [33]:
epl_stat["HomePoint"] = epl_stat.apply(lambda row: HomePoint(row),axis=1)

In [34]:
epl_stat

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,...,AST,pastHG,pastAG,pastHxG,pastAxG,pastHS,pastAS,pastHST,pastAST,HomePoint
0,1.0,Crystal Palace,Arsenal,A,0,2,1.2,1.0,10.0,10.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,1.0,Fulham,Liverpool,D,2,2,1.2,1.2,9.0,11.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,1.0,Tottenham,Southampton,H,4,1,1.5,0.5,18.0,10.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3,1.0,Newcastle Utd,Nott'ham Forest,H,2,0,1.7,0.3,23.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
4,1.0,Leeds United,Wolves,H,2,1,0.8,1.3,12.0,15.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,38.0,Everton,Bournemouth,NaN,0,0,0.0,0.0,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
362,38.0,Leicester City,West Ham,NaN,0,0,0.0,0.0,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
363,38.0,Aston Villa,Brighton,NaN,0,0,0.0,0.0,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
364,38.0,Leeds United,Tottenham,NaN,0,0,0.0,0.0,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
365,38.0,Brentford,Manchester City,NaN,0,0,0.0,0.0,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [35]:
def AwayPoint(row):
    if(row.Result == 'H'):
        return 0
    elif(row.Result == 'A'):
        return 3
    elif(row.Result == 'D'):
        return 1
    else:
        return 0

In [36]:
epl_stat["AwayPoint"] = epl_stat.apply(lambda row: AwayPoint(row),axis=1)

In [37]:
epl_stat

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,...,pastHG,pastAG,pastHxG,pastAxG,pastHS,pastAS,pastHST,pastAST,HomePoint,AwayPoint
0,1.0,Crystal Palace,Arsenal,A,0,2,1.2,1.0,10.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,3
1,1.0,Fulham,Liverpool,D,2,2,1.2,1.2,9.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
2,1.0,Tottenham,Southampton,H,4,1,1.5,0.5,18.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
3,1.0,Newcastle Utd,Nott'ham Forest,H,2,0,1.7,0.3,23.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
4,1.0,Leeds United,Wolves,H,2,1,0.8,1.3,12.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,38.0,Everton,Bournemouth,NaN,0,0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
362,38.0,Leicester City,West Ham,NaN,0,0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
363,38.0,Aston Villa,Brighton,NaN,0,0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
364,38.0,Leeds United,Tottenham,NaN,0,0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
365,38.0,Brentford,Manchester City,NaN,0,0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [38]:
k = 3
for i in range(0,366):
    row = epl_stat.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
    at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
    epl_stat.at[i, 'pastHP'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AwayPoint + ht_stats[ht_stats["HomeTeam"] == ht].sum().HomePoint)
    epl_stat.at[i, 'pastAP'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)

C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/986985849.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/986985849.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/986985849.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHP'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AwayPoint + ht_stats[ht_stats["HomeTeam"] == ht].sum().HomePoint)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/986985849.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAP'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)

In [39]:
epl_stat[10:29]

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,...,pastHxG,pastAxG,pastHS,pastAS,pastHST,pastAST,HomePoint,AwayPoint,pastHP,pastAP
10,2.0,Aston Villa,Everton,H,2,1,2.3,1.6,12.0,15.0,...,0.7,0.7,15.0,8.0,2.0,4.0,3,0,0.0,0.0
11,2.0,Manchester City,Bournemouth,H,4,0,1.7,0.1,19.0,3.0,...,2.2,0.6,14.0,7.0,2.0,3.0,3,0,3.0,3.0
12,2.0,Southampton,Leeds United,D,2,2,1.2,1.8,14.0,13.0,...,0.5,0.8,10.0,12.0,2.0,4.0,1,1,0.0,3.0
13,2.0,Wolves,Fulham,D,0,0,0.9,1.5,7.0,9.0,...,1.3,1.2,15.0,9.0,6.0,3.0,1,1,0.0,1.0
14,2.0,Arsenal,Leicester City,H,4,2,2.7,0.5,19.0,6.0,...,1.0,0.6,10.0,14.0,2.0,5.0,3,0,3.0,1.0
15,2.0,Brighton,Newcastle Utd,D,0,0,1.5,0.2,13.0,4.0,...,1.5,1.7,15.0,23.0,4.0,10.0,1,1,3.0,3.0
16,2.0,Brentford,Manchester Utd,H,4,0,1.6,0.9,13.0,15.0,...,0.8,1.4,8.0,17.0,3.0,5.0,3,0,1.0,0.0
17,2.0,Nott'ham Forest,West Ham,H,1,0,1.3,2.1,13.0,19.0,...,0.3,0.5,5.0,6.0,0.0,1.0,3,0,0.0,0.0
18,2.0,Chelsea,Tottenham,D,2,2,1.6,1.0,16.0,10.0,...,1.5,1.5,15.0,18.0,6.0,8.0,1,1,3.0,3.0
19,2.0,Liverpool,Crystal Palace,D,1,1,2.0,1.0,24.0,7.0,...,1.2,1.2,11.0,10.0,4.0,2.0,1,1,1.0,0.0
20,3.0,Tottenham,Wolves,H,1,0,1.7,0.7,11.0,20.0,...,2.5,2.2,28.0,22.0,13.0,7.0,3,0,4.0,1.0
21,3.0,Leicester City,Southampton,A,1,2,0.3,0.9,6.0,9.0,...,1.1,1.7,20.0,24.0,7.0,6.0,0,3,1.0,1.0
22,3.0,Everton,Nott'ham Forest,D,1,1,1.5,1.0,19.0,14.0,...,2.3,1.6,23.0,18.0,8.0,6.0,1,1,0.0,3.0
23,3.0,Crystal Palace,Aston Villa,H,3,1,2.6,0.9,17.0,13.0,...,2.2,3.0,17.0,27.0,5.0,6.0,3,0,1.0,3.0
24,3.0,Fulham,Brentford,H,3,2,2.4,1.8,18.0,13.0,...,2.7,2.4,18.0,21.0,6.0,10.0,3,0,2.0,4.0
25,3.0,Bournemouth,Arsenal,A,0,3,0.3,1.3,6.0,14.0,...,0.7,3.7,10.0,29.0,4.0,9.0,0,3,3.0,6.0
26,3.0,Leeds United,Chelsea,H,3,0,2.1,0.9,12.0,14.0,...,2.6,3.1,25.0,31.0,9.0,9.0,3,0,4.0,4.0
27,3.0,West Ham,Brighton,A,0,2,0.8,1.7,13.0,11.0,...,2.6,3.0,25.0,28.0,6.0,11.0,0,3,0.0,4.0
28,3.0,Newcastle Utd,Manchester City,D,3,3,1.8,2.1,12.0,21.0,...,1.9,3.9,27.0,33.0,11.0,9.0,1,1,4.0,6.0

In [40]:
epl_stat

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,...,pastHxG,pastAxG,pastHS,pastAS,pastHST,pastAST,HomePoint,AwayPoint,pastHP,pastAP
0,1.0,Crystal Palace,Arsenal,A,0,2,1.2,1.0,10.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3,0.0,0.0
1,1.0,Fulham,Liverpool,D,2,2,1.2,1.2,9.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0.0,0.0
2,1.0,Tottenham,Southampton,H,4,1,1.5,0.5,18.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,0.0,0.0
3,1.0,Newcastle Utd,Nott'ham Forest,H,2,0,1.7,0.3,23.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,0.0,0.0
4,1.0,Leeds United,Wolves,H,2,1,0.8,1.3,12.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,38.0,Everton,Bournemouth,NaN,0,0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0
362,38.0,Leicester City,West Ham,NaN,0,0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0
363,38.0,Aston Villa,Brighton,NaN,0,0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0
364,38.0,Leeds United,Tottenham,NaN,0,0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0
365,38.0,Brentford,Manchester City,NaN,0,0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0

In [41]:
epl_stat["pastHGC"] = 0.0
epl_stat["pastAGC"] = 0.0
epl_stat["pastHxGC"] = 0.0
epl_stat["pastAxGC"] = 0.0
epl_stat["pastHSC"] = 0.0
epl_stat["pastASC"] = 0.0
epl_stat["pastHSTC"] = 0.0
epl_stat["pastASTC"] = 0.0

In [42]:
k = 3
for i in range(0,366):
    row = epl_stat.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
    at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
    epl_stat.at[i, 'pastHGC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTHG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTAG)
    epl_stat.at[i, 'pastAGC'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTHG + at_stats[at_stats["HomeTeam"] == at].sum().FTAG)
    epl_stat.at[i, 'pastHxGC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().HxG + ht_stats[ht_stats["HomeTeam"] == ht].sum().AxG)
    epl_stat.at[i, 'pastAxGC'] = (at_stats[at_stats["AwayTeam"] == at].sum().HxG + at_stats[at_stats["HomeTeam"] == at].sum().AxG)
    epl_stat.at[i, 'pastHSC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().HS + ht_stats[ht_stats["HomeTeam"] == ht].sum().AS)
    epl_stat.at[i, 'pastASC'] = (at_stats[at_stats["AwayTeam"] == at].sum().HS + at_stats[at_stats["HomeTeam"] == at].sum().AS)
    epl_stat.at[i, 'pastHSTC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().HST + ht_stats[ht_stats["HomeTeam"] == ht].sum().AST)
    epl_stat.at[i, 'pastASTC'] = (at_stats[at_stats["AwayTeam"] == at].sum().HST + at_stats[at_stats["HomeTeam"] == at].sum().AST)

C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/4100168685.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/4100168685.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/4100168685.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHGC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTHG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTAG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/4100168685.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAGC'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTHG + at_stats[at_stats["HomeTeam"] == at].sum().FTAG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/4100168685.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHxGC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().HxG + ht_stats[ht_stats["HomeTeam"] == ht].sum().AxG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/4100168685.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAxGC'] = (at_stats[at_stats["AwayTeam"] == at].sum().HxG + at_stats[at_stats["HomeTeam"] == at].sum().AxG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/4100168685.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHSC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().HS + ht_stats[ht_stats["HomeTeam"] == ht].sum().AS)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/4100168685.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastASC'] = (at_stats[at_stats["AwayTeam"] == at].sum().HS + at_stats[at_stats["HomeTeam"] == at].sum().AS)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/4100168685.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHSTC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().HST + ht_stats[ht_stats["HomeTeam"] == ht].sum().AST)
C:\Users\Admin\AppData\Local\Temp/ipykernel_5380/4100168685.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastASTC'] = (at_stats[at_stats["AwayTeam"] == at].sum().HST + at_stats[at_stats["HomeTeam"] == at].sum().AST)

In [45]:
epl_stat[50:70]

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,...,pastHP,pastAP,pastHGC,pastAGC,pastHxGC,pastAxGC,pastHSC,pastASC,pastHSTC,pastASTC
50,6.0,Everton,Liverpool,D,0,0,1.7,2.1,14.0,23.0,...,3.0,6.0,3.0,3.0,4.1,2.8,47.0,22.0,15.0,8.0
51,6.0,Nott'ham Forest,Bournemouth,A,2,3,1.9,0.8,11.0,8.0,...,1.0,1.0,9.0,12.0,7.2,6.1,54.0,50.0,24.0,22.0
52,6.0,Wolves,Southampton,H,1,0,0.8,1.2,7.0,12.0,...,2.0,6.0,2.0,3.0,3.8,2.5,37.0,27.0,12.0,11.0
53,6.0,Newcastle Utd,Crystal Palace,D,0,0,2.8,1.0,23.0,19.0,...,2.0,4.0,6.0,6.0,4.3,4.5,54.0,40.0,20.0,13.0
54,6.0,Brentford,Leeds United,H,5,2,2.3,1.7,14.0,17.0,...,2.0,4.0,5.0,2.0,4.5,3.9,45.0,34.0,20.0,9.0
55,6.0,Tottenham,Fulham,H,2,1,2.9,0.7,23.0,9.0,...,7.0,6.0,1.0,5.0,2.8,5.8,51.0,42.0,8.0,17.0
56,6.0,Chelsea,West Ham,H,2,1,0.9,1.1,8.0,6.0,...,3.0,4.0,6.0,3.0,5.7,2.8,38.0,33.0,18.0,9.0
57,6.0,Aston Villa,Manchester City,D,1,1,0.3,2.1,3.0,13.0,...,0.0,7.0,6.0,5.0,5.6,2.6,46.0,22.0,20.0,9.0
58,6.0,Brighton,Leicester City,H,5,2,2.6,1.4,23.0,6.0,...,6.0,0.0,2.0,5.0,3.3,4.2,33.0,25.0,8.0,8.0
59,6.0,Manchester Utd,Arsenal,H,3,1,1.5,1.3,10.0,16.0,...,9.0,9.0,1.0,2.0,3.4,1.5,44.0,21.0,12.0,7.0
60,8.0,Aston Villa,Southampton,H,1,0,0.9,0.3,11.0,7.0,...,1.0,3.0,4.0,3.0,5.1,3.0,42.0,28.0,15.0,12.0
61,8.0,Nott'ham Forest,Fulham,A,2,3,1.4,0.9,11.0,15.0,...,0.0,3.0,11.0,5.0,6.5,6.9,43.0,52.0,19.0,22.0
62,8.0,Wolves,Manchester City,A,0,3,0.4,1.1,6.0,16.0,...,5.0,7.0,1.0,3.0,3.3,1.1,38.0,13.0,9.0,4.0
63,8.0,Newcastle Utd,Bournemouth,D,1,1,1.9,0.7,20.0,10.0,...,2.0,4.0,3.0,11.0,3.2,6.7,52.0,47.0,19.0,19.0
64,8.0,Tottenham,Leicester City,H,6,2,2.2,1.8,16.0,19.0,...,7.0,0.0,2.0,8.0,2.8,5.9,40.0,39.0,8.0,16.0
65,8.0,Brentford,Arsenal,A,0,3,0.5,1.5,5.0,13.0,...,5.0,6.0,4.0,5.0,3.8,2.7,44.0,25.0,17.0,12.0
66,8.0,Everton,West Ham,H,1,0,0.4,1.0,7.0,14.0,...,3.0,4.0,2.0,3.0,5.2,2.0,56.0,30.0,18.0,10.0
67,9.0,Arsenal,Tottenham,H,3,1,2.4,1.6,22.0,7.0,...,6.0,7.0,4.0,4.0,2.4,3.7,19.0,42.0,11.0,14.0
68,9.0,Southampton,Everton,A,1,2,1.7,2.0,22.0,12.0,...,3.0,5.0,3.0,1.0,2.8,4.1,28.0,51.0,9.0,17.0
69,9.0,Crystal Palace,Chelsea,A,1,2,0.4,1.1,7.0,13.0,...,2.0,6.0,5.0,4.0,6.4,4.7,50.0,32.0,14.0,15.0

In [47]:
epl_stat.to_csv('EPL_stat_7.11.22')