In [47]:
import requests
import numpy as np

In [48]:
standings_url = "https://fbref.com/en/comps/9/2021-2022/schedule/2021-2022-Premier-League-Scores-and-Fixtures"

In [49]:
data = requests.get(standings_url)

In [50]:
import pandas as pd
matches = pd.read_html(data.text)[0]

In [51]:
matches[139:147]

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
139,13.0,Sun,2021-11-28,14:00,Manchester City,2.4,2–1,0.2,West Ham,53245.0,Etihad Stadium,Michael Oliver,Match Report,NaN
140,13.0,Sun,2021-11-28,16:30,Chelsea,3.1,1–1,0.7,Manchester Utd,40041.0,Stamford Bridge,Anthony Taylor,Match Report,NaN
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,14.0,Tue,2021-11-30,19:30,Newcastle Utd,1.2,1–1,1.3,Norwich City,50757.0,St. James' Park,Andy Madley,Match Report,NaN
143,14.0,Tue,2021-11-30,20:15,Leeds United,1.6,1–0,1.3,Crystal Palace,35558.0,Elland Road,Kevin Friend,Match Report,NaN
144,14.0,Wed,2021-12-01,19:30,Southampton,1.7,2–2,2.0,Leicester City,26951.0,St. Mary's Stadium,Robert Jones,Match Report,NaN
145,14.0,Wed,2021-12-01,19:30,West Ham,1.4,1–1,1.4,Brighton,59626.0,London Stadium,Chris Kavanagh,Match Report,NaN
146,14.0,Wed,2021-12-01,19:30,Wolves,0.9,0–0,0.2,Burnley,30328.0,Molineux Stadium,John Brooks,Match Report,NaN

In [52]:
matches["Score"] = matches['Score'].apply(str)
matches["Score"] = matches['Score'].apply(list)

In [53]:
matches.head(11)
matches = matches[matches.Wk.notnull()]
matches.head(11)

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1.0,Fri,2021-08-13,20:00,Brentford,1.6,"[2, –, 0]",1.6,Arsenal,16479.0,Brentford Community Stadium,Michael Oliver,Match Report,NaN
1,1.0,Sat,2021-08-14,12:30,Manchester Utd,2.5,"[5, –, 1]",0.6,Leeds United,72732.0,Old Trafford,Paul Tierney,Match Report,NaN
2,1.0,Sat,2021-08-14,15:00,Leicester City,0.7,"[1, –, 0]",1.5,Wolves,31983.0,King Power Stadium,Craig Pawson,Match Report,NaN
3,1.0,Sat,2021-08-14,15:00,Burnley,1.4,"[1, –, 2]",1.4,Brighton,16910.0,Turf Moor,David Coote,Match Report,NaN
4,1.0,Sat,2021-08-14,15:00,Chelsea,0.8,"[3, –, 0]",0.4,Crystal Palace,38965.0,Stamford Bridge,Jonathan Moss,Match Report,NaN
5,1.0,Sat,2021-08-14,15:00,Watford,1.3,"[3, –, 2]",1.3,Aston Villa,20051.0,Vicarage Road Stadium,Mike Dean,Match Report,NaN
6,1.0,Sat,2021-08-14,15:00,Everton,2.3,"[3, –, 1]",0.9,Southampton,38487.0,Goodison Park,Andy Madley,Match Report,NaN
7,1.0,Sat,2021-08-14,17:30,Norwich City,1.4,"[0, –, 3]",1.7,Liverpool,27023.0,Carrow Road,Andre Marriner,Match Report,NaN
8,1.0,Sun,2021-08-15,14:00,Newcastle Utd,2.1,"[2, –, 4]",2.6,West Ham,50673.0,St. James' Park,Martin Atkinson,Match Report,NaN
9,1.0,Sun,2021-08-15,16:30,Tottenham,1.0,"[1, –, 0]",2.0,Manchester City,58262.0,Tottenham Hotspur Stadium,Anthony Taylor,Match Report,NaN
11,2.0,Sat,2021-08-21,12:30,Liverpool,2.8,"[2, –, 0]",1.0,Burnley,52591.0,Anfield,Mike Dean,Match Report,NaN

In [54]:
matches.reset_index(inplace=True)
matches.reset_index(inplace=True)
matches

,level_0,index,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,0,0,1.0,Fri,2021-08-13,20:00,Brentford,1.6,"[2, –, 0]",1.6,Arsenal,16479.0,Brentford Community Stadium,Michael Oliver,Match Report,NaN
1,1,1,1.0,Sat,2021-08-14,12:30,Manchester Utd,2.5,"[5, –, 1]",0.6,Leeds United,72732.0,Old Trafford,Paul Tierney,Match Report,NaN
2,2,2,1.0,Sat,2021-08-14,15:00,Leicester City,0.7,"[1, –, 0]",1.5,Wolves,31983.0,King Power Stadium,Craig Pawson,Match Report,NaN
3,3,3,1.0,Sat,2021-08-14,15:00,Burnley,1.4,"[1, –, 2]",1.4,Brighton,16910.0,Turf Moor,David Coote,Match Report,NaN
4,4,4,1.0,Sat,2021-08-14,15:00,Chelsea,0.8,"[3, –, 0]",0.4,Crystal Palace,38965.0,Stamford Bridge,Jonathan Moss,Match Report,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,443,38.0,Sun,2022-05-22,16:00,Norwich City,0.5,"[0, –, 5]",3.4,Tottenham,27022.0,Carrow Road,Chris Kavanagh,Match Report,NaN
376,376,444,38.0,Sun,2022-05-22,16:00,Manchester City,3.7,"[3, –, 2]",0.3,Aston Villa,53395.0,Etihad Stadium,Michael Oliver,Match Report,NaN
377,377,445,38.0,Sun,2022-05-22,16:00,Liverpool,3.1,"[3, –, 1]",1.4,Wolves,53097.0,Anfield,Anthony Taylor,Match Report,NaN
378,378,446,38.0,Sun,2022-05-22,16:00,Burnley,1.8,"[1, –, 2]",1.9,Newcastle Utd,21361.0,Turf Moor,Craig Pawson,Match Report,NaN
379,379,447,38.0,Sun,2022-05-22,16:00,Chelsea,2.7,"[2, –, 1]",0.8,Watford,32089.0,Stamford Bridge,Mike Dean,Match Report,NaN

In [55]:
df = pd.DataFrame(matches[['Score','level_0']])
df[['FTHG','vs','FTAG']] = pd.DataFrame(df.Score.tolist(), index= df.index)
df

         Score  level_0 FTHG vs FTAG
0    [2, –, 0]        0    2  –    0
1    [5, –, 1]        1    5  –    1
2    [1, –, 0]        2    1  –    0
3    [1, –, 2]        3    1  –    2
4    [3, –, 0]        4    3  –    0
..         ...      ...  ... ..  ...
375  [0, –, 5]      375    0  –    5
376  [3, –, 2]      376    3  –    2
377  [3, –, 1]      377    3  –    1
378  [1, –, 2]      378    1  –    2
379  [2, –, 1]      379    2  –    1

[380 rows x 5 columns]

In [56]:
match = matches.drop('Score', axis=1)
match

,level_0,index,Wk,Day,Date,Time,Home,xG,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,0,0,1.0,Fri,2021-08-13,20:00,Brentford,1.6,1.6,Arsenal,16479.0,Brentford Community Stadium,Michael Oliver,Match Report,NaN
1,1,1,1.0,Sat,2021-08-14,12:30,Manchester Utd,2.5,0.6,Leeds United,72732.0,Old Trafford,Paul Tierney,Match Report,NaN
2,2,2,1.0,Sat,2021-08-14,15:00,Leicester City,0.7,1.5,Wolves,31983.0,King Power Stadium,Craig Pawson,Match Report,NaN
3,3,3,1.0,Sat,2021-08-14,15:00,Burnley,1.4,1.4,Brighton,16910.0,Turf Moor,David Coote,Match Report,NaN
4,4,4,1.0,Sat,2021-08-14,15:00,Chelsea,0.8,0.4,Crystal Palace,38965.0,Stamford Bridge,Jonathan Moss,Match Report,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,443,38.0,Sun,2022-05-22,16:00,Norwich City,0.5,3.4,Tottenham,27022.0,Carrow Road,Chris Kavanagh,Match Report,NaN
376,376,444,38.0,Sun,2022-05-22,16:00,Manchester City,3.7,0.3,Aston Villa,53395.0,Etihad Stadium,Michael Oliver,Match Report,NaN
377,377,445,38.0,Sun,2022-05-22,16:00,Liverpool,3.1,1.4,Wolves,53097.0,Anfield,Anthony Taylor,Match Report,NaN
378,378,446,38.0,Sun,2022-05-22,16:00,Burnley,1.8,1.9,Newcastle Utd,21361.0,Turf Moor,Craig Pawson,Match Report,NaN
379,379,447,38.0,Sun,2022-05-22,16:00,Chelsea,2.7,0.8,Watford,32089.0,Stamford Bridge,Mike Dean,Match Report,NaN

In [60]:
df['FTHG'] = df['FTHG'].replace('n', -1)
df['FTAG'] = df['FTAG'].replace('n', -1)
df

         Score  level_0 FTHG vs FTAG
0    [2, –, 0]        0    2  –    0
1    [5, –, 1]        1    5  –    1
2    [1, –, 0]        2    1  –    0
3    [1, –, 2]        3    1  –    2
4    [3, –, 0]        4    3  –    0
..         ...      ...  ... ..  ...
375  [0, –, 5]      375    0  –    5
376  [3, –, 2]      376    3  –    2
377  [3, –, 1]      377    3  –    1
378  [1, –, 2]      378    1  –    2
379  [2, –, 1]      379    2  –    1

[380 rows x 5 columns]

In [61]:
df_1 = df.drop('Score', axis=1)

In [62]:
df_2 = df_1.drop('vs', axis=1)
df_2.head(100)

    level_0 FTHG FTAG
0         0    2    0
1         1    5    1
2         2    1    0
3         3    1    2
4         4    3    0
..      ...  ...  ...
95       95    0    2
96       96    0    3
97       97    1    2
98       98    1    4
99       99    2    1

[100 rows x 3 columns]

In [63]:
w = pd.merge(match, df_2, on ='level_0')
w.tail(200)

,level_0,index,Wk,Day,Date,Time,Home,xG,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes,FTHG,FTAG
180,180,199,20.0,Wed,2021-12-29,19:30,Chelsea,1.1,1.4,Brighton,40080.0,Stamford Bridge,Mike Dean,Match Report,NaN,1,1
181,181,200,20.0,Wed,2021-12-29,20:15,Brentford,0.6,1.0,Manchester City,17009.0,Brentford Community Stadium,David Coote,Match Report,NaN,0,1
182,182,201,20.0,Thu,2021-12-30,20:15,Manchester Utd,2.3,1.0,Burnley,73121.0,Old Trafford,Jonathan Moss,Match Report,NaN,3,1
183,183,203,21.0,Sat,2022-01-01,12:30,Arsenal,0.9,2.2,Manchester City,59757.0,Emirates Stadium,Stuart Attwell,Match Report,NaN,1,2
184,184,204,21.0,Sat,2022-01-01,15:00,Watford,0.3,2.1,Tottenham,20391.0,Vicarage Road Stadium,Robert Jones,Match Report,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,443,38.0,Sun,2022-05-22,16:00,Norwich City,0.5,3.4,Tottenham,27022.0,Carrow Road,Chris Kavanagh,Match Report,NaN,0,5
376,376,444,38.0,Sun,2022-05-22,16:00,Manchester City,3.7,0.3,Aston Villa,53395.0,Etihad Stadium,Michael Oliver,Match Report,NaN,3,2
377,377,445,38.0,Sun,2022-05-22,16:00,Liverpool,3.1,1.4,Wolves,53097.0,Anfield,Anthony Taylor,Match Report,NaN,3,1
378,378,446,38.0,Sun,2022-05-22,16:00,Burnley,1.8,1.9,Newcastle Utd,21361.0,Turf Moor,Craig Pawson,Match Report,NaN,1,2
379,379,447,38.0,Sun,2022-05-22,16:00,Chelsea,2.7,0.8,Watford,32089.0,Stamford Bridge,Mike Dean,Match Report,NaN,2,1

In [64]:
epl = w[['level_0','Wk','Home','Away','FTHG','FTAG','xG','xG.1']]

In [65]:
epl["FTHG"] = epl['FTHG'].apply(int)
epl["FTAG"] = epl['FTAG'].apply(int)
epl['xG'] = epl['xG'].replace(np.nan, -1)
epl['xG.1'] = epl['xG.1'].replace(np.nan, -1)
epl['xG'] = epl['xG'].apply(float)
epl['xG.1'] = epl['xG.1'].apply(float)
epl['xG'] = epl['xG'].replace(-1, 0)
epl['xG.1'] = epl['xG.1'].replace(-1, 0)

C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/2678489492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl["FTHG"] = epl['FTHG'].apply(int)
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/2678489492.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl["FTAG"] = epl['FTAG'].apply(int)
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/2678489492.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl['xG'] = epl['xG'].replace(np.nan, -1)
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/2678489492.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl['xG.1'] = epl['xG.1'].replace(np.nan, -1)
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/2678489492.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl['xG'] = epl['xG'].apply(float)
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/2678489492.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl['xG.1'] = epl['xG.1'].apply(float)
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/2678489492.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl['xG'] = epl['xG'].replace(-1, 0)
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/2678489492.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl['xG.1'] = epl['xG.1'].replace(-1, 0)

In [66]:
epl['HomeTeam'] = epl['Home']
epl['AwayTeam'] = epl['Away']
feat_table = epl[['level_0','Wk','HomeTeam','AwayTeam','FTHG','FTAG','xG','xG.1']]
feat_table

C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/34148819.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl['HomeTeam'] = epl['Home']
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/34148819.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl['AwayTeam'] = epl['Away']

     level_0    Wk         HomeTeam        AwayTeam  FTHG  FTAG   xG  xG.1
0          0   1.0        Brentford         Arsenal     2     0  1.6   1.6
1          1   1.0   Manchester Utd    Leeds United     5     1  2.5   0.6
2          2   1.0   Leicester City          Wolves     1     0  0.7   1.5
3          3   1.0          Burnley        Brighton     1     2  1.4   1.4
4          4   1.0          Chelsea  Crystal Palace     3     0  0.8   0.4
..       ...   ...              ...             ...   ...   ...  ...   ...
375      375  38.0     Norwich City       Tottenham     0     5  0.5   3.4
376      376  38.0  Manchester City     Aston Villa     3     2  3.7   0.3
377      377  38.0        Liverpool          Wolves     3     1  3.1   1.4
378      378  38.0          Burnley   Newcastle Utd     1     2  1.8   1.9
379      379  38.0          Chelsea         Watford     2     1  2.7   0.8

[380 rows x 8 columns]

In [67]:
def Result(row):
    if(row.FTHG > row.FTAG):
        return 'H'
    elif(row.FTHG < row.FTAG):
        return 'A'
    elif(row.FTHG == -1):
        return np.nan
    else:
        return 'D'
feat_table["Result"] = feat_table.apply(lambda row: Result(row),axis=1)
feat_table

C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/2851648705.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat_table["Result"] = feat_table.apply(lambda row: Result(row),axis=1)

,level_0,Wk,HomeTeam,AwayTeam,FTHG,FTAG,xG,xG.1,Result
0,0,1.0,Brentford,Arsenal,2,0,1.6,1.6,H
1,1,1.0,Manchester Utd,Leeds United,5,1,2.5,0.6,H
2,2,1.0,Leicester City,Wolves,1,0,0.7,1.5,H
3,3,1.0,Burnley,Brighton,1,2,1.4,1.4,A
4,4,1.0,Chelsea,Crystal Palace,3,0,0.8,0.4,H
...,...,...,...,...,...,...,...,...,...
375,375,38.0,Norwich City,Tottenham,0,5,0.5,3.4,A
376,376,38.0,Manchester City,Aston Villa,3,2,3.7,0.3,H
377,377,38.0,Liverpool,Wolves,3,1,3.1,1.4,H
378,378,38.0,Burnley,Newcastle Utd,1,2,1.8,1.9,A
379,379,38.0,Chelsea,Watford,2,1,2.7,0.8,H

In [99]:
stat = pd.read_csv("E0.21_22.csv")
stat['HomeTeam'] = stat['HomeTeam'].replace('Newcastle', 'Newcastle Utd').replace('Leeds', 'Leeds United').replace('Leicester','Leicester City').replace("Norwich","Norwich City").replace('Man United','Manchester Utd').replace('Man City','Manchester City')
stat['AwayTeam'] = stat['AwayTeam'].replace('Newcastle', 'Newcastle Utd').replace('Leeds', 'Leeds United').replace('Leicester','Leicester City').replace("Norwich","Norwich City").replace('Man United','Manchester Utd').replace('Man City','Manchester City')
stat.head(10)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Manchester Utd,Leeds United,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
5,E0,14/08/2021,15:00,Leicester City,Wolves,1,0,H,1,0,...,1.79,-0.75,2.02,1.91,2.01,1.92,2.05,1.95,1.99,1.89
6,E0,14/08/2021,15:00,Watford,Aston Villa,3,2,H,2,0,...,1.74,0.25,2.02,1.91,2.04,1.89,2.04,1.93,1.99,1.90
7,E0,14/08/2021,17:30,Norwich City,Liverpool,0,3,A,0,1,...,2.48,1.25,1.85,2.08,1.85,2.09,2.03,2.10,1.88,2.01
8,E0,15/08/2021,14:00,Newcastle Utd,West Ham,2,4,A,2,1,...,1.95,0.25,2.01,1.92,2.02,1.91,2.12,1.94,2.00,1.89
9,E0,15/08/2021,16:30,Tottenham,Manchester City,1,0,H,0,0,...,1.99,1.00,1.84,2.09,1.87,2.06,1.94,2.15,1.84,2.05

In [100]:
feat_table["FTHG"] = epl['FTHG'].replace(-1, 0)
feat_table["FTAG"] = epl['FTAG'].replace(-1, 0)

In [101]:
feat_table["Match"] = feat_table['HomeTeam'] +"-"+ feat_table['AwayTeam']
stat["Match"] = stat['HomeTeam'] +"-"+ stat['AwayTeam']

In [102]:
new_df = pd.merge(feat_table, stat, on='Match', how='left')
new_df[125:145]

,level_0,Wk,HomeTeam_x,AwayTeam_x,FTHG_x,FTAG_x,xG,xG.1,Result,Match,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
125,125,13.0,Brentford,Everton,1,0,1.3,1.3,H,Brentford-Everton,...,1.66,-0.25,1.93,1.97,1.94,1.98,1.96,2.06,1.91,1.97
126,126,13.0,Leicester City,Watford,4,2,2.2,2.6,H,Leicester City-Watford,...,2.06,-0.75,1.87,2.03,1.89,2.03,1.96,2.16,1.90,1.99
127,127,13.0,Manchester City,West Ham,2,1,2.4,0.2,H,Manchester City-West Ham,...,2.59,-1.75,2.03,1.87,2.01,1.90,2.11,1.98,2.01,1.88
128,128,13.0,Chelsea,Manchester Utd,1,1,3.1,0.7,D,Chelsea-Manchester Utd,...,1.99,-1.00,2.00,1.90,1.99,1.93,2.02,2.01,1.96,1.92
129,129,14.0,Newcastle Utd,Norwich City,1,1,1.2,1.3,D,Newcastle Utd-Norwich City,...,1.94,-0.25,1.87,2.03,1.80,2.13,1.92,2.13,1.83,2.06
130,130,14.0,Leeds United,Crystal Palace,1,0,1.6,1.3,H,Leeds United-Crystal Palace,...,1.84,-0.25,1.86,2.04,1.93,2.00,2.02,2.04,1.93,1.96
131,131,14.0,Southampton,Leicester City,2,2,1.7,2.0,D,Southampton-Leicester City,...,2.03,-0.25,2.04,1.86,2.09,1.84,2.17,1.90,2.04,1.85
132,132,14.0,West Ham,Brighton,1,1,1.4,1.4,D,West Ham-Brighton,...,1.71,-0.50,2.05,1.85,2.04,1.96,2.05,2.02,1.99,1.91
133,133,14.0,Wolves,Burnley,0,0,0.9,0.2,D,Wolves-Burnley,...,1.70,-0.50,1.91,1.99,1.88,2.04,2.00,2.04,1.94,1.94
134,134,14.0,Watford,Chelsea,1,2,1.1,1.2,A,Watford-Chelsea,...,2.13,1.50,1.89,2.01,1.92,2.00,1.93,2.09,1.88,2.01
135,135,14.0,Aston Villa,Manchester City,1,2,0.9,1.2,A,Aston Villa-Manchester City,...,2.09,1.25,1.82,2.08,1.85,2.09,1.96,2.12,1.85,2.04
136,136,14.0,Everton,Liverpool,1,4,1.3,2.7,A,Everton-Liverpool,...,2.33,1.50,1.85,2.05,1.83,2.09,1.95,2.13,1.83,2.05
137,137,14.0,Tottenham,Brentford,2,0,2.2,0.4,H,Tottenham-Brentford,...,1.86,-0.75,1.89,2.01,1.91,2.01,1.94,2.14,1.86,2.03
138,138,14.0,Manchester Utd,Arsenal,3,2,1.9,1.7,H,Manchester Utd-Arsenal,...,2.15,-0.25,1.77,2.14,1.81,2.11,1.85,2.20,1.80,2.11
139,139,15.0,West Ham,Chelsea,3,2,2.2,1.3,H,West Ham-Chelsea,...,1.77,0.75,1.83,2.07,1.85,2.08,1.95,2.12,1.84,2.05
140,140,15.0,Newcastle Utd,Burnley,1,0,1.2,0.8,H,Newcastle Utd-Burnley,...,2.07,-0.25,2.06,1.84,2.08,1.85,2.11,1.90,2.03,1.85
141,141,15.0,Southampton,Brighton,1,1,1.7,1.4,D,Southampton-Brighton,...,1.74,0.00,1.83,2.07,1.85,2.08,1.89,2.28,1.80,2.10
142,142,15.0,Wolves,Liverpool,0,1,0.1,2.6,A,Wolves-Liverpool,...,2.29,1.50,1.77,2.02,1.84,2.09,1.94,2.25,1.79,2.10
143,143,15.0,Watford,Manchester City,1,3,0.9,3.5,A,Watford-Manchester City,...,2.78,2.00,1.81,2.09,1.83,2.09,1.94,2.17,1.84,2.04
144,144,15.0,Leeds United,Brentford,2,2,1.1,1.0,D,Leeds United-Brentford,...,1.73,-0.50,1.79,2.11,1.83,2.11,1.86,2.14,1.83,2.06

In [103]:
epl_stat=new_df[['Div','Date','Time','Wk','HomeTeam_x','AwayTeam_x','Result','FTHG_x','FTAG_x','xG','xG.1','HS','AS','HST','AST']]

In [104]:
epl_stat[110:130]

,Div,Date,Time,Wk,HomeTeam_x,AwayTeam_x,Result,FTHG_x,FTAG_x,xG,xG.1,HS,AS,HST,AST
110,E0,20/11/2021,12:30,12.0,Leicester City,Chelsea,A,0,3,0.3,2.1,4,16,3,7
111,E0,20/11/2021,15:00,12.0,Wolves,West Ham,H,1,0,1.1,0.6,15,8,5,3
112,E0,20/11/2021,15:00,12.0,Watford,Manchester Utd,H,4,1,3.2,1.7,20,9,7,3
113,E0,20/11/2021,15:00,12.0,Norwich City,Southampton,H,2,1,0.5,1.3,8,17,4,5
114,E0,20/11/2021,15:00,12.0,Aston Villa,Brighton,H,2,0,0.8,0.5,9,6,5,2
115,E0,20/11/2021,15:00,12.0,Newcastle Utd,Brentford,D,3,3,1.9,0.9,23,10,9,4
116,E0,20/11/2021,15:00,12.0,Burnley,Crystal Palace,D,3,3,1.6,2.3,15,18,9,8
117,E0,20/11/2021,17:30,12.0,Liverpool,Arsenal,H,4,0,3.8,0.6,19,5,9,3
118,E0,21/11/2021,14:00,12.0,Manchester City,Everton,H,3,0,2.6,0.2,17,4,7,1
119,E0,21/11/2021,16:30,12.0,Tottenham,Leeds United,H,2,1,1.7,1.7,13,18,4,7
120,E0,27/11/2021,12:30,13.0,Arsenal,Newcastle Utd,H,2,0,2.8,0.4,24,9,6,5
121,E0,27/11/2021,15:00,13.0,Crystal Palace,Aston Villa,A,1,2,0.8,0.5,8,10,3,3
122,E0,27/11/2021,15:00,13.0,Liverpool,Southampton,H,4,0,3.1,1.0,20,7,6,3
123,E0,27/11/2021,15:00,13.0,Norwich City,Wolves,D,0,0,1.7,0.3,14,5,4,2
124,E0,27/11/2021,17:30,13.0,Brighton,Leeds United,D,0,0,2.5,0.9,20,11,4,4
125,E0,28/11/2021,14:00,13.0,Brentford,Everton,H,1,0,1.3,1.3,6,14,4,5
126,E0,28/11/2021,14:00,13.0,Leicester City,Watford,H,4,2,2.2,2.6,18,16,8,5
127,E0,28/11/2021,14:00,13.0,Manchester City,West Ham,H,2,1,2.4,0.2,19,5,9,3
128,E0,28/11/2021,16:30,13.0,Chelsea,Manchester Utd,D,1,1,3.1,0.7,24,3,6,2
129,E0,30/11/2021,19:30,14.0,Newcastle Utd,Norwich City,D,1,1,1.2,1.3,9,16,1,6

In [105]:
epl_stat['FTHG'] = epl_stat['FTHG_x']
epl_stat['FTAG'] = epl_stat['FTAG_x']
epl_stat['HxG'] = epl_stat['xG']
epl_stat['AxG'] = epl_stat['xG.1']
epl_stat['HomeTeam'] = epl_stat['HomeTeam_x']
epl_stat['AwayTeam'] = epl_stat['AwayTeam_x']

C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/1589987248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['FTHG'] = epl_stat['FTHG_x']
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/1589987248.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['FTAG'] = epl_stat['FTAG_x']
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/1589987248.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['HxG'] = epl_stat['xG']
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/1589987248.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['AxG'] = epl_stat['xG.1']
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/1589987248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['HomeTeam'] = epl_stat['HomeTeam_x']
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/1589987248.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['AwayTeam'] = epl_stat['AwayTeam_x']

In [106]:
epl_stat=epl_stat[['Wk','HomeTeam','AwayTeam','Result','FTHG','FTAG','HxG','AxG','HS','AS','HST','AST']]

In [107]:
epl_stat.dtypes

Wk          float64
HomeTeam     object
AwayTeam     object
Result       object
FTHG          int64
FTAG          int64
HxG         float64
AxG         float64
HS            int64
AS            int64
HST           int64
AST           int64
dtype: object

In [108]:
epl_stat["pastHG"] = 0.0
epl_stat["pastAG"] = 0.0
epl_stat["pastHxG"] = 0.0
epl_stat["pastAxG"] = 0.0
epl_stat["pastHS"] = 0.0
epl_stat["pastAS"] = 0.0
epl_stat["pastHST"] = 0.0
epl_stat["pastAST"] = 0.0

In [109]:
k = 3
for i in range(0,366):
    row = epl_stat.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
    at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
    epl_stat.at[i, 'pastHG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTAG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTHG)
    epl_stat.at[i, 'pastAG'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTAG + at_stats[at_stats["HomeTeam"] == at].sum().FTHG)
    epl_stat.at[i, 'pastHxG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AxG + ht_stats[ht_stats["HomeTeam"] == ht].sum().HxG)
    epl_stat.at[i, 'pastAxG'] = (at_stats[at_stats["AwayTeam"] == at].sum().AxG + at_stats[at_stats["HomeTeam"] == at].sum().HxG)
    epl_stat.at[i, 'pastHS'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AS + ht_stats[ht_stats["HomeTeam"] == ht].sum().HS)
    epl_stat.at[i, 'pastAS'] = (at_stats[at_stats["AwayTeam"] == at].sum().AS + at_stats[at_stats["HomeTeam"] == at].sum().HS)
    epl_stat.at[i, 'pastHST'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AST + ht_stats[ht_stats["HomeTeam"] == ht].sum().HST)
    epl_stat.at[i, 'pastAST'] = (at_stats[at_stats["AwayTeam"] == at].sum().AST + at_stats[at_stats["HomeTeam"] == at].sum().HST)

C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/2219820124.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/2219820124.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)

In [110]:
epl_stat[136:145]

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,HST,AST,pastHG,pastAG,pastHxG,pastAxG,pastHS,pastAS,pastHST,pastAST
136,14.0,Everton,Liverpool,A,1,4,1.3,2.7,8,16,2,7,0.0,10.0,2.3,8.4,30.0,55.0,8.0,20.0
137,14.0,Tottenham,Brentford,H,2,0,2.2,0.4,11,6,6,2,2.0,5.0,3.7,4.8,30.0,35.0,4.0,15.0
138,14.0,Manchester Utd,Arsenal,H,3,2,1.9,1.7,14,17,10,8,2.0,3.0,3.2,5.3,17.0,43.0,6.0,15.0
139,15.0,West Ham,Chelsea,H,3,2,2.2,1.3,11,19,5,7,2.0,6.0,2.2,6.4,27.0,48.0,12.0,17.0
140,15.0,Newcastle Utd,Burnley,H,1,0,1.2,0.8,19,10,4,1,4.0,4.0,3.5,2.4,41.0,26.0,15.0,12.0
141,15.0,Southampton,Brighton,D,1,1,1.7,1.4,14,14,4,4,3.0,1.0,4.0,4.4,39.0,35.0,15.0,9.0
142,15.0,Wolves,Liverpool,A,0,1,0.1,2.6,3,17,1,5,1.0,12.0,2.3,9.6,36.0,55.0,9.0,22.0
143,15.0,Watford,Manchester City,A,1,3,0.9,3.5,11,26,4,13,7.0,7.0,6.9,6.2,49.0,53.0,18.0,23.0
144,15.0,Leeds United,Brentford,D,2,2,1.1,1.0,13,9,6,3,2.0,4.0,4.2,2.6,44.0,22.0,14.0,10.0

In [111]:
def HomePoint(row):
    if(row.Result == 'H'):
        return 3
    elif(row.Result == 'A'):
        return 0
    elif(row.Result == 'D'):
        return 1
    else:
        return 0

In [112]:
epl_stat["HomePoint"] = epl_stat.apply(lambda row: HomePoint(row),axis=1)

In [113]:
epl_stat

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,...,AST,pastHG,pastAG,pastHxG,pastAxG,pastHS,pastAS,pastHST,pastAST,HomePoint
0,1.0,Brentford,Arsenal,H,2,0,1.6,1.6,8,22,...,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
1,1.0,Manchester Utd,Leeds United,H,5,1,2.5,0.6,16,10,...,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2,1.0,Leicester City,Wolves,H,1,0,0.7,1.5,9,17,...,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3,1.0,Burnley,Brighton,A,1,2,1.4,1.4,14,14,...,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,1.0,Chelsea,Crystal Palace,H,3,0,0.8,0.4,13,4,...,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,38.0,Norwich City,Tottenham,A,0,5,0.5,3.4,9,19,...,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
376,38.0,Manchester City,Aston Villa,H,3,2,3.7,0.3,24,4,...,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
377,38.0,Liverpool,Wolves,H,3,1,3.1,1.4,29,7,...,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
378,38.0,Burnley,Newcastle Utd,A,1,2,1.8,1.9,12,8,...,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
379,38.0,Chelsea,Watford,H,2,1,2.7,0.8,19,8,...,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3

In [114]:
def AwayPoint(row):
    if(row.Result == 'H'):
        return 0
    elif(row.Result == 'A'):
        return 3
    elif(row.Result == 'D'):
        return 1
    else:
        return 0

In [115]:
epl_stat["AwayPoint"] = epl_stat.apply(lambda row: AwayPoint(row),axis=1)

In [116]:
epl_stat

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,...,pastHG,pastAG,pastHxG,pastAxG,pastHS,pastAS,pastHST,pastAST,HomePoint,AwayPoint
0,1.0,Brentford,Arsenal,H,2,0,1.6,1.6,8,22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
1,1.0,Manchester Utd,Leeds United,H,5,1,2.5,0.6,16,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
2,1.0,Leicester City,Wolves,H,1,0,0.7,1.5,9,17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
3,1.0,Burnley,Brighton,A,1,2,1.4,1.4,14,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,3
4,1.0,Chelsea,Crystal Palace,H,3,0,0.8,0.4,13,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,38.0,Norwich City,Tottenham,A,0,5,0.5,3.4,9,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,3
376,38.0,Manchester City,Aston Villa,H,3,2,3.7,0.3,24,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
377,38.0,Liverpool,Wolves,H,3,1,3.1,1.4,29,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
378,38.0,Burnley,Newcastle Utd,A,1,2,1.8,1.9,12,8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,3
379,38.0,Chelsea,Watford,H,2,1,2.7,0.8,19,8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0

In [117]:
k = 3
for i in range(0,380):
    row = epl_stat.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
    at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
    epl_stat.at[i, 'pastHP'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AwayPoint + ht_stats[ht_stats["HomeTeam"] == ht].sum().HomePoint)
    epl_stat.at[i, 'pastAP'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)

C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/38712992.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/38712992.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)

In [118]:
epl_stat.tail(30)

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,...,pastHxG,pastAxG,pastHS,pastAS,pastHST,pastAST,HomePoint,AwayPoint,pastHP,pastAP
350,36.0,Arsenal,Leeds United,H,2,1,2.5,0.5,19,3,...,5.1,2.6,41.0,26.0,18.0,9.0,3,0,9.0,4.0
351,36.0,Manchester City,Newcastle Utd,H,5,0,3.3,0.8,21,7,...,8.0,3.2,57.0,30.0,19.0,13.0,3,0,9.0,6.0
352,33.0,Aston Villa,Liverpool,A,1,2,1.4,2.2,9,17,...,5.4,5.7,44.0,64.0,16.0,17.0,0,3,7.0,7.0
353,33.0,Leeds United,Chelsea,A,0,3,0.4,1.6,5,17,...,2.4,5.8,19.0,57.0,6.0,17.0,0,3,1.0,2.0
354,21.0,Leicester City,Norwich City,H,3,0,2.2,1.1,20,9,...,2.0,1.9,27.0,22.0,13.0,7.0,3,0,1.0,0.0
355,30.0,Watford,Everton,D,0,0,0.4,1.1,6,16,...,2.4,3.7,24.0,28.0,4.0,9.0,1,1,0.0,6.0
356,33.0,Wolves,Manchester City,A,1,5,0.5,2.8,7,16,...,3.6,9.7,35.0,61.0,9.0,23.0,0,3,1.0,9.0
357,22.0,Tottenham,Arsenal,H,3,0,3.0,0.6,16,8,...,3.5,5.8,30.0,46.0,10.0,23.0,3,0,5.0,9.0
358,37.0,Tottenham,Burnley,H,1,0,2.3,0.8,21,8,...,5.7,5.9,37.0,45.0,16.0,17.0,3,0,7.0,6.0
359,37.0,Leeds United,Brighton,D,1,1,1.9,2.4,19,16,...,2.2,7.1,15.0,42.0,4.0,20.0,1,1,0.0,7.0
360,37.0,Watford,Leicester City,A,1,5,1.7,2.4,13,13,...,2.4,3.9,25.0,42.0,2.0,19.0,0,3,1.0,3.0
361,37.0,Wolves,Norwich City,D,1,1,1.0,1.3,17,11,...,3.4,2.5,32.0,26.0,8.0,10.0,1,1,1.0,0.0
362,37.0,Aston Villa,Crystal Palace,D,1,1,1.0,1.5,13,16,...,5.6,6.4,42.0,46.0,17.0,19.0,1,1,6.0,7.0
363,37.0,West Ham,Manchester City,D,2,2,1.8,2.9,6,31,...,4.4,8.6,27.0,56.0,10.0,20.0,1,1,3.0,9.0
364,37.0,Everton,Brentford,A,2,3,2.0,1.6,10,18,...,4.2,4.4,35.0,45.0,13.0,11.0,0,3,7.0,4.0
365,37.0,Newcastle Utd,Arsenal,H,2,0,1.7,0.7,16,11,...,2.8,4.0,24.0,40.0,12.0,20.0,3,0,3.0,6.0
366,37.0,Southampton,Liverpool,A,1,2,0.1,1.5,4,24,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3,1.0,7.0
367,33.0,Everton,Crystal Palace,H,3,2,0.9,1.4,12,7,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,4.0,7.0
368,18.0,Aston Villa,Burnley,D,1,1,1.6,1.8,22,10,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,4.0,3.0
369,27.0,Chelsea,Leicester City,D,1,1,1.8,0.1,20,2,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,4.0,6.0
370,38.0,Brentford,Leeds United,A,1,2,1.2,1.4,14,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3,6.0,1.0
371,38.0,Leicester City,Southampton,H,4,1,3.1,1.2,12,7,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,7.0,0.0
372,38.0,Crystal Palace,Manchester Utd,H,1,0,0.8,0.9,6,10,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,4.0,4.0
373,38.0,Arsenal,Everton,H,5,1,4.1,1.1,26,6,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,3.0,4.0
374,38.0,Brighton,West Ham,H,3,1,1.9,0.4,18,7,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,7.0,4.0
375,38.0,Norwich City,Tottenham,A,0,5,0.5,3.4,9,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3,1.0,7.0
376,38.0,Manchester City,Aston Villa,H,3,2,3.7,0.3,24,4,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,7.0,2.0
377,38.0,Liverpool,Wolves,H,3,1,3.1,1.4,29,7,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,7.0,2.0
378,38.0,Burnley,Newcastle Utd,A,1,2,1.8,1.9,12,8,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3,1.0,3.0
379,38.0,Chelsea,Watford,H,2,1,2.7,0.8,19,8,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,5.0,1.0

In [119]:
epl_stat

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,...,pastHxG,pastAxG,pastHS,pastAS,pastHST,pastAST,HomePoint,AwayPoint,pastHP,pastAP
0,1.0,Brentford,Arsenal,H,2,0,1.6,1.6,8,22,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,0.0,0.0
1,1.0,Manchester Utd,Leeds United,H,5,1,2.5,0.6,16,10,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,0.0,0.0
2,1.0,Leicester City,Wolves,H,1,0,0.7,1.5,9,17,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,0.0,0.0
3,1.0,Burnley,Brighton,A,1,2,1.4,1.4,14,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3,0.0,0.0
4,1.0,Chelsea,Crystal Palace,H,3,0,0.8,0.4,13,4,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,38.0,Norwich City,Tottenham,A,0,5,0.5,3.4,9,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3,1.0,7.0
376,38.0,Manchester City,Aston Villa,H,3,2,3.7,0.3,24,4,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,7.0,2.0
377,38.0,Liverpool,Wolves,H,3,1,3.1,1.4,29,7,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,7.0,2.0
378,38.0,Burnley,Newcastle Utd,A,1,2,1.8,1.9,12,8,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3,1.0,3.0
379,38.0,Chelsea,Watford,H,2,1,2.7,0.8,19,8,...,0.0,0.0,0.0,0.0,0.0,0.0,3,0,5.0,1.0

In [120]:
epl_stat["pastHGC"] = 0.0
epl_stat["pastAGC"] = 0.0
epl_stat["pastHxGC"] = 0.0
epl_stat["pastAxGC"] = 0.0
epl_stat["pastHSC"] = 0.0
epl_stat["pastASC"] = 0.0
epl_stat["pastHSTC"] = 0.0
epl_stat["pastASTC"] = 0.0

In [121]:
k = 3
for i in range(0,380):
    row = epl_stat.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
    at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
    epl_stat.at[i, 'pastHGC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTHG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTAG)
    epl_stat.at[i, 'pastAGC'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTHG + at_stats[at_stats["HomeTeam"] == at].sum().FTAG)
    epl_stat.at[i, 'pastHxGC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().HxG + ht_stats[ht_stats["HomeTeam"] == ht].sum().AxG)
    epl_stat.at[i, 'pastAxGC'] = (at_stats[at_stats["AwayTeam"] == at].sum().HxG + at_stats[at_stats["HomeTeam"] == at].sum().AxG)
    epl_stat.at[i, 'pastHSC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().HS + ht_stats[ht_stats["HomeTeam"] == ht].sum().AS)
    epl_stat.at[i, 'pastASC'] = (at_stats[at_stats["AwayTeam"] == at].sum().HS + at_stats[at_stats["HomeTeam"] == at].sum().AS)
    epl_stat.at[i, 'pastHSTC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().HST + ht_stats[ht_stats["HomeTeam"] == ht].sum().AST)
    epl_stat.at[i, 'pastASTC'] = (at_stats[at_stats["AwayTeam"] == at].sum().HST + at_stats[at_stats["HomeTeam"] == at].sum().AST)

C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/3446733630.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_11856/3446733630.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)

In [122]:
epl_stat[50:70]

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,...,pastHP,pastAP,pastHGC,pastAGC,pastHxGC,pastAxGC,pastHSC,pastASC,pastHSTC,pastASTC
50,6.0,Manchester Utd,Aston Villa,A,0,1,2.5,1.2,28,7,...,9.0,4.0,2.0,4.0,4.9,3.0,40.0,32.0,13.0,7.0
51,6.0,Chelsea,Manchester City,A,0,1,0.2,1.4,5,15,...,7.0,7.0,1.0,0.0,4.3,1.3,50.0,17.0,15.0,3.0
52,6.0,Leicester City,Burnley,D,2,2,2.6,0.5,22,9,...,3.0,1.0,4.0,5.0,6.6,4.0,51.0,39.0,17.0,11.0
53,6.0,Leeds United,West Ham,A,1,2,1.3,2.2,15,20,...,2.0,2.0,5.0,4.0,7.1,3.9,59.0,37.0,19.0,15.0
54,6.0,Watford,Newcastle Utd,D,1,1,1.1,2.4,15,20,...,3.0,2.0,4.0,7.0,4.5,8.1,41.0,65.0,18.0,22.0
55,6.0,Everton,Norwich City,H,2,0,2.0,0.7,11,10,...,6.0,0.0,4.0,6.0,3.3,6.5,40.0,51.0,12.0,18.0
56,6.0,Brentford,Liverpool,D,3,3,2.2,2.6,12,16,...,4.0,7.0,2.0,1.0,1.8,2.8,22.0,28.0,7.0,9.0
57,6.0,Southampton,Wolves,A,0,1,1.3,0.6,18,5,...,3.0,3.0,2.0,3.0,3.2,3.5,41.0,25.0,9.0,8.0
58,6.0,Arsenal,Tottenham,H,3,1,1.1,1.0,12,10,...,6.0,3.0,5.0,6.0,6.1,6.4,53.0,47.0,14.0,16.0
59,6.0,Crystal Palace,Brighton,D,1,1,1.4,0.8,8,8,...,4.0,6.0,5.0,3.0,5.3,3.6,41.0,35.0,15.0,9.0
60,7.0,Manchester Utd,Everton,D,1,1,1.1,1.4,13,12,...,6.0,6.0,3.0,4.0,3.6,3.0,32.0,36.0,10.0,11.0
61,7.0,Wolves,Newcastle Utd,H,2,1,1.1,0.7,7,8,...,6.0,2.0,2.0,6.0,4.1,5.5,33.0,58.0,11.0,20.0
62,7.0,Burnley,Norwich City,D,0,0,1.2,0.5,14,10,...,1.0,0.0,6.0,6.0,5.0,7.2,49.0,53.0,14.0,19.0
63,7.0,Chelsea,Southampton,H,3,1,3.4,1.3,20,6,...,6.0,2.0,1.0,1.0,3.3,2.7,41.0,36.0,12.0,7.0
64,7.0,Leeds United,Watford,H,1,0,2.1,0.2,20,5,...,1.0,4.0,6.0,4.0,8.2,5.6,67.0,46.0,23.0,16.0
65,7.0,Brighton,Arsenal,D,0,0,1.6,0.6,21,8,...,7.0,9.0,2.0,1.0,3.3,3.1,29.0,38.0,7.0,8.0
66,7.0,Tottenham,Aston Villa,H,2,1,1.4,1.1,17,14,...,0.0,6.0,9.0,3.0,6.4,4.5,50.0,51.0,21.0,9.0
67,7.0,Crystal Palace,Leicester City,D,2,2,1.8,1.4,18,9,...,4.0,1.0,4.0,5.0,4.2,5.5,35.0,46.0,15.0,16.0
68,7.0,West Ham,Brentford,A,1,2,1.7,1.3,18,13,...,4.0,4.0,3.0,4.0,4.1,3.6,43.0,31.0,18.0,8.0
69,7.0,Liverpool,Manchester City,D,2,2,0.8,1.7,6,12,...,7.0,7.0,3.0,0.0,4.3,1.3,34.0,21.0,10.0,3.0

In [123]:
epl_stat.to_csv('EPL_stat_21_22.csv')

In [124]:
epl_stat.dtypes

Wk           float64
HomeTeam      object
AwayTeam      object
Result        object
FTHG           int64
FTAG           int64
HxG          float64
AxG          float64
HS             int64
AS             int64
HST            int64
AST            int64
pastHG       float64
pastAG       float64
pastHxG      float64
pastAxG      float64
pastHS       float64
pastAS       float64
pastHST      float64
pastAST      float64
HomePoint      int64
AwayPoint      int64
pastHP       float64
pastAP       float64
pastHGC      float64
pastAGC      float64
pastHxGC     float64
pastAxGC     float64
pastHSC      float64
pastASC      float64
pastHSTC     float64
pastASTC     float64
dtype: object

SyntaxError: invalid syntax (Temp/ipykernel_11856/524225188.py, line 1)