In [57]:
import pandas as pd
import numpy as np

In [58]:
DATA_DIR = './dataset/'
DATA = pd.read_csv("2000-01.csv")

In [59]:
pd.read_csv("2004-05.csv")

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,14/08/04,Aston Villa,Southampton,2,0,H,2,0,H,...,5,2,14,9,12,6,0,0,0,0
1,E0,14/08/04,Blackburn,West Brom,1,1,D,0,1,A,...,4,2,15,17,4,5,1,0,0,0
2,E0,14/08/04,Bolton,Charlton,4,1,H,2,0,H,...,11,5,10,12,9,5,1,1,0,0
3,E0,14/08/04,Man City,Fulham,1,1,D,1,0,H,...,5,2,14,12,9,4,0,2,0,0
4,E0,14/08/04,Middlesbrough,Newcastle,2,2,D,0,1,A,...,8,4,16,13,6,7,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15/05/05,Man City,Middlesbrough,1,1,D,0,1,A,...,5,3,12,15,10,3,2,4,0,0
376,E0,15/05/05,Newcastle,Chelsea,1,1,D,1,1,D,...,4,7,11,17,6,4,4,4,0,0
377,E0,15/05/05,Southampton,Man United,1,2,A,1,1,D,...,3,8,14,13,5,3,1,2,0,0
378,E0,15/05/05,Tottenham,Blackburn,0,0,D,0,0,D,...,7,8,10,14,5,7,2,2,0,0
379,E0,15/05/05,West Brom,Portsmouth,2,0,H,0,0,D,...,5,2,12,13,6,1,0,1,0,0

In [60]:
import pandas as pd
pd.read_csv("2004-05.csv")

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,14/08/04,Aston Villa,Southampton,2,0,H,2,0,H,...,5,2,14,9,12,6,0,0,0,0
1,E0,14/08/04,Blackburn,West Brom,1,1,D,0,1,A,...,4,2,15,17,4,5,1,0,0,0
2,E0,14/08/04,Bolton,Charlton,4,1,H,2,0,H,...,11,5,10,12,9,5,1,1,0,0
3,E0,14/08/04,Man City,Fulham,1,1,D,1,0,H,...,5,2,14,12,9,4,0,2,0,0
4,E0,14/08/04,Middlesbrough,Newcastle,2,2,D,0,1,A,...,8,4,16,13,6,7,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15/05/05,Man City,Middlesbrough,1,1,D,0,1,A,...,5,3,12,15,10,3,2,4,0,0
376,E0,15/05/05,Newcastle,Chelsea,1,1,D,1,1,D,...,4,7,11,17,6,4,4,4,0,0
377,E0,15/05/05,Southampton,Man United,1,2,A,1,1,D,...,3,8,14,13,5,3,1,2,0,0
378,E0,15/05/05,Tottenham,Blackburn,0,0,D,0,0,D,...,7,8,10,14,5,7,2,2,0,0
379,E0,15/05/05,West Brom,Portsmouth,2,0,H,0,0,D,...,5,2,12,13,6,1,0,1,0,0

In [61]:
DATA = pd.read_csv("2004-05.csv")

In [62]:
features_labels = DATA[['HomeTeam','AwayTeam','FTR', 'FTHG','FTAG']]

In [63]:
features_labels.tail()

        HomeTeam       AwayTeam FTR  FTHG  FTAG
375     Man City  Middlesbrough   D     1     1
376    Newcastle        Chelsea   D     1     1
377  Southampton     Man United   A     1     2
378    Tottenham      Blackburn   D     0     0
379    West Brom     Portsmouth   H     2     0

In [64]:
MW1 = DATA[-70:][['HomeTeam', 'AwayTeam']]
MW1

          HomeTeam       AwayTeam
310         Bolton         Fulham
311        Chelsea     Birmingham
312       Man City      Liverpool
313  Middlesbrough        Arsenal
314        Norwich     Man United
..             ...            ...
375       Man City  Middlesbrough
376      Newcastle        Chelsea
377    Southampton     Man United
378      Tottenham      Blackburn
379      West Brom     Portsmouth

[70 rows x 2 columns]

In [65]:
X_all = features_labels.drop(['FTR'],1)
y_all = features_labels['FTR']
X_train = X_all[:329]
y_train = y_all[:329]
X_test = X_all[330:369]
y_test = y_all[330:369]
X_predict = X_all[370:]

C:\Users\Admin\AppData\Local\Temp/ipykernel_228/2273970495.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X_all = features_labels.drop(['FTR'],1)

In [66]:
X_train.head()

        HomeTeam     AwayTeam  FTHG  FTAG
0    Aston Villa  Southampton     2     0
1      Blackburn    West Brom     1     1
2         Bolton     Charlton     4     1
3       Man City       Fulham     1     1
4  Middlesbrough    Newcastle     2     2

In [67]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
mask = ('FTHG', 'FTAG')
X_train.loc[:, mask] = scaler.fit_transform(X_train.loc[:, mask])
X_test.loc[:, mask] = scaler.transform(X_test.loc[:, mask])
X_predict.loc[:, mask] = scaler.transform(X_predict.loc[:, mask])

C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:1835: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:1835: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:1835: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [68]:
scaler.mean_

array([1.47112462, 1.07902736])

In [69]:
def transformResult(row):
    '''Converts results (H,A or D) into numeric values'''
    if(row.FTR == 'H'):
        return 1
    elif(row.FTR == 'A'):
        return -1
    else:
        return 0

In [70]:
features_labels["Result"] = features_labels.apply(lambda row: transformResult(row),axis=1)

C:\Users\Admin\AppData\Local\Temp/ipykernel_228/2221807532.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels["Result"] = features_labels.apply(lambda row: transformResult(row),axis=1)

In [71]:
features_labels.tail()

        HomeTeam       AwayTeam FTR  FTHG  FTAG  Result
375     Man City  Middlesbrough   D     1     1       0
376    Newcastle        Chelsea   D     1     1       0
377  Southampton     Man United   A     1     2      -1
378    Tottenham      Blackburn   D     0     0       0
379    West Brom     Portsmouth   H     2     0       1

In [72]:
features_labels.tail(80:119)

SyntaxError: invalid syntax (Temp/ipykernel_228/2447640584.py, line 1)

In [73]:
features_labels.tail(110:129)

SyntaxError: invalid syntax (Temp/ipykernel_228/3429031511.py, line 1)

In [74]:
def get_mw(features_labels):
    j = 1
    match_week = []
    for i in range(len(features_labels)):
        match_week.append(j)
        if ((i + 1) % 10) == 0:
            j = j + 1
    features_labels['MW'] = match_week
    return features_labels

In [75]:
features_labels = get_mw(features_labels)

C:\Users\Admin\AppData\Local\Temp/ipykernel_228/3107052183.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels['MW'] = match_week

In [76]:
features_labels.tail(40)

           HomeTeam        AwayTeam FTR  FTHG  FTAG  Result  MW
340   Middlesbrough       West Brom   H     4     0       1  35
341         Norwich        Charlton   H     1     0       1  35
342      Man United       Newcastle   H     2     1       1  35
343      Portsmouth     Southampton   H     4     1       1  35
344         Arsenal       Tottenham   H     1     0       1  35
345       West Brom       Blackburn   D     1     1       0  35
346       Newcastle   Middlesbrough   D     0     0       0  35
347      Birmingham       Blackburn   H     2     1       1  35
348          Bolton         Chelsea   A     0     2      -1  35
349          Fulham         Everton   H     2     0       1  35
350       Liverpool   Middlesbrough   D     1     1       0  36
351        Man City      Portsmouth   H     2     0       1  36
352       Newcastle  Crystal Palace   D     0     0       0  36
353     Southampton         Norwich   H     4     3       1  36
354        Charlton      Man United   A     0     4      -1  36
355       Tottenham     Aston Villa   H     5     1       1  36
356       West Brom         Arsenal   A     0     2      -1  36
357          Fulham       Newcastle   A     1     3      -1  36
358     Aston Villa        Man City   A     1     2      -1  36
359       Blackburn          Fulham   A     1     3      -1  36
360         Chelsea        Charlton   H     1     0       1  37
361  Crystal Palace     Southampton   D     2     2       0  37
362         Everton       Newcastle   H     2     0       1  37
363      Man United       West Brom   D     1     1       0  37
364   Middlesbrough       Tottenham   H     1     0       1  37
365         Norwich      Birmingham   H     1     0       1  37
366      Portsmouth          Bolton   D     1     1       0  37
367         Arsenal       Liverpool   H     3     1       1  37
368      Man United         Chelsea   A     1     3      -1  37
369         Arsenal         Everton   H     7     0       1  37
370      Birmingham         Arsenal   H     2     1       1  38
371          Bolton         Everton   H     3     2       1  38
372        Charlton  Crystal Palace   D     2     2       0  38
373          Fulham         Norwich   H     6     0       1  38
374       Liverpool     Aston Villa   H     2     1       1  38
375        Man City   Middlesbrough   D     1     1       0  38
376       Newcastle         Chelsea   D     1     1       0  38
377     Southampton      Man United   A     1     2      -1  38
378       Tottenham       Blackburn   D     0     0       0  38
379       West Brom      Portsmouth   H     2     0       1  38

In [77]:
from copy import deepcopy

def get_match_result(is_home_team, FTR):
  if FTR == 'H':
    return 'W' if is_home_team else 'L'
  elif FTR == 'A':
    return 'L' if is_home_team else 'W'
  else:
    return 'D'

def get_teams_last_3_games_form(features_labels):
  teams = {key:['M'] for key in features_labels.HomeTeam.unique()} # 'M' since it is the begining of the season
  
  for i, row in features_labels.iterrows():
    
    # add accumlated home team goals based on previous matches
    teams[row.HomeTeam].append(get_match_result(is_home_team=True, FTR=row.FTR))
      
    # add accumlated away team goals based on previous matches
    teams[row.AwayTeam].append(get_match_result(is_home_team=False, FTR=row.FTR))
    
  
  teams2 = deepcopy(teams)
  teams3 = deepcopy(teams)
 
  for key in teams:
    teams2[key].insert(0,'M')
    
    teams3[key].insert(0,'M')
    teams3[key].insert(0,'M')
    
    
  # initialize last 3 games to 'M'
  for i in range(1, 3):
    features_labels['HM' + str(i)] = 'M'
    features_labels['AM' + str(i)] = 'M'
  
  for i, row in features_labels.iterrows():
    
    features_labels.at[i, 'HM3'] = teams3[row.HomeTeam].pop(0)
    features_labels.at[i, 'HM2'] = teams2[row.HomeTeam].pop(0)
    features_labels.at[i, 'HM1'] = teams[row.HomeTeam].pop(0)
    
    features_labels.at[i, 'AM3'] = teams3[row.AwayTeam].pop(0)
    features_labels.at[i, 'AM2'] = teams2[row.AwayTeam].pop(0)
    features_labels.at[i, 'AM1'] = teams[row.AwayTeam].pop(0)
  
  return features_labels

In [78]:
features_labels = get_teams_last_3_games_form(features_labels)

C:\Users\Admin\AppData\Local\Temp/ipykernel_228/3006169086.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels['HM' + str(i)] = 'M'
C:\Users\Admin\AppData\Local\Temp/ipykernel_228/3006169086.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels['AM' + str(i)] = 'M'
C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [79]:
features_labels.tail(40)

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Result,MW,HM1,AM1,HM2,AM2,HM3,AM3
340,Middlesbrough,West Brom,H,4,0,1,35,D,D,L,D,W,W
341,Norwich,Charlton,H,1,0,1,35,W,D,D,L,W,L
342,Man United,Newcastle,H,2,1,1,35,L,L,L,L,D,L
343,Portsmouth,Southampton,H,4,1,1,35,L,D,D,L,W,L
344,Arsenal,Tottenham,H,1,0,1,35,D,D,W,D,W,W
345,West Brom,Blackburn,D,1,1,0,35,L,D,D,W,D,W
346,Newcastle,Middlesbrough,D,0,0,0,35,L,W,L,D,L,L
347,Birmingham,Blackburn,H,2,1,1,35,D,D,L,D,D,W
348,Bolton,Chelsea,A,0,2,-1,35,D,W,D,D,W,D
349,Fulham,Everton,H,2,0,1,35,L,D,D,W,D,W
350,Liverpool,Middlesbrough,D,1,1,0,36,L,D,W,W,D,D
351,Man City,Portsmouth,H,2,0,1,36,D,W,W,L,D,D
352,Newcastle,Crystal Palace,D,0,0,0,36,D,W,L,L,L,D
353,Southampton,Norwich,H,4,3,1,36,L,W,D,W,L,D
354,Charlton,Man United,A,0,4,-1,36,L,W,D,L,L,L
355,Tottenham,Aston Villa,H,5,1,1,36,L,D,D,D,D,W
356,West Brom,Arsenal,A,0,2,-1,36,D,W,L,D,D,W
357,Fulham,Newcastle,A,1,3,-1,36,W,D,L,D,D,L
358,Aston Villa,Man City,A,1,2,-1,36,L,W,D,D,D,W
359,Blackburn,Fulham,A,1,3,-1,36,L,L,D,W,D,L
360,Chelsea,Charlton,H,1,0,1,37,W,L,W,L,D,D
361,Crystal Palace,Southampton,D,2,2,0,37,D,W,W,L,L,D
362,Everton,Newcastle,H,2,0,1,37,L,W,D,D,W,D
363,Man United,West Brom,D,1,1,0,37,W,L,W,D,L,L
364,Middlesbrough,Tottenham,H,1,0,1,37,D,W,D,L,W,D
365,Norwich,Birmingham,H,1,0,1,37,L,W,W,D,W,L
366,Portsmouth,Bolton,D,1,1,0,37,L,L,W,D,L,D
367,Arsenal,Liverpool,H,3,1,1,37,W,D,W,L,D,W
368,Man United,Chelsea,A,1,3,-1,37,D,W,W,W,W,W
369,Arsenal,Everton,H,7,0,1,37,W,W,W,L,W,D
370,Birmingham,Arsenal,H,2,1,1,38,L,W,W,W,D,W
371,Bolton,Everton,H,3,2,1,38,D,L,L,W,D,L
372,Charlton,Crystal Palace,D,2,2,0,38,L,D,L,D,L,W
373,Fulham,Norwich,H,6,0,1,38,W,W,L,L,W,W
374,Liverpool,Aston Villa,H,2,1,1,38,L,L,D,L,L,D
375,Man City,Middlesbrough,D,1,1,0,38,W,W,W,D,D,D
376,Newcastle,Chelsea,D,1,1,0,38,L,W,W,W,D,W
377,Southampton,Man United,A,1,2,-1,38,D,L,W,D,L,W
378,Tottenham,Blackburn,D,0,0,0,38,L,L,W,L,L,D
379,West Brom,Portsmouth,H,2,0,1,38,D,D,L,L,D,W

In [80]:
features_labels.HomeTeam.unique()

array(['Aston Villa', 'Blackburn', 'Bolton', 'Man City', 'Middlesbrough',
       'Norwich', 'Portsmouth', 'Tottenham', 'Chelsea', 'Everton',
       'Birmingham', 'Charlton', 'Crystal Palace', 'Fulham', 'Liverpool',
       'Man United', 'Newcastle', 'Southampton', 'Arsenal', 'West Brom'],
      dtype=object)

In [81]:
Chelsea_home = features_labels.loc[features_labels['HomeTeam'] == "Chelsea"]
Chelsea_home.tail(20)

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Result,MW,HM1,AM1,HM2,AM2,HM3,AM3
8,Chelsea,Man United,H,1,0,1,1,M,M,M,M,M,M
30,Chelsea,Southampton,H,2,1,1,4,W,L,W,W,W,L
55,Chelsea,Tottenham,D,0,0,0,6,D,D,W,W,W,D
76,Chelsea,Liverpool,H,1,0,1,8,W,W,D,L,D,W
90,Chelsea,Blackburn,H,4,0,1,10,L,L,W,D,W,L
110,Chelsea,Everton,H,1,0,1,12,W,D,W,W,L,W
130,Chelsea,Bolton,D,2,2,0,14,W,L,W,D,W,W
152,Chelsea,Newcastle,H,4,0,1,16,W,D,D,W,W,L
173,Chelsea,Norwich,H,4,0,1,18,D,W,W,L,W,D
183,Chelsea,Aston Villa,H,1,0,1,19,W,L,D,L,W,D
216,Chelsea,Middlesbrough,H,2,0,1,22,W,L,W,W,W,L
231,Chelsea,Portsmouth,H,3,0,1,24,W,L,W,L,W,D
258,Chelsea,Man City,D,0,0,0,26,W,D,W,L,W,W
286,Chelsea,West Brom,H,1,0,1,29,W,W,W,D,D,L
292,Chelsea,Crystal Palace,H,4,1,1,30,W,D,W,W,W,L
311,Chelsea,Birmingham,D,1,1,0,32,W,D,W,W,W,L
329,Chelsea,Arsenal,D,0,0,0,33,D,W,W,W,W,W
337,Chelsea,Fulham,H,3,1,1,34,D,D,D,D,W,L
360,Chelsea,Charlton,H,1,0,1,37,W,L,W,L,D,D

In [82]:
def get_match_point(is_home_team, FTR):
  if FTR == 'H':
    return 3 if is_home_team else 0
  elif FTR == 'A':
    return 0 if is_home_team else 3
  else:
    return 1

def get_accumlated_points_by_team(features_labels):
  teams = {key:[0] for key in features_labels.HomeTeam.unique()}
  
  for i, row in features_labels.iterrows():
    
    # add accumlated home team goals based on previous matches
    teams[row.HomeTeam].append(teams[row.HomeTeam][-1] + get_match_point(is_home_team=True, FTR=row.FTR))
      
    # add accumlated away team goals based on previous matches
    teams[row.AwayTeam].append(teams[row.AwayTeam][-1] + get_match_point(is_home_team=False, FTR=row.FTR))
    
  features_labels['HTP'] = 0
  features_labels['ATP'] = 0
  for i, row in features_labels.iterrows():
    
    features_labels.at[i, 'HTP'] = teams[row.HomeTeam].pop(0)
    features_labels.at[i, 'ATP'] = teams[row.AwayTeam].pop(0)
  
  return features_labels

features_labels = get_accumlated_points_by_team(features_labels)

C:\Users\Admin\AppData\Local\Temp/ipykernel_228/4144348634.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels['HTP'] = 0
C:\Users\Admin\AppData\Local\Temp/ipykernel_228/4144348634.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels['ATP'] = 0

In [83]:
features_labels = get_accumlated_points_by_team(features_labels)

C:\Users\Admin\AppData\Local\Temp/ipykernel_228/4144348634.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels['HTP'] = 0
C:\Users\Admin\AppData\Local\Temp/ipykernel_228/4144348634.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels['ATP'] = 0

In [84]:
features_labels.tail(40)

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Result,MW,HM1,AM1,HM2,AM2,HM3,AM3,HTP,ATP
340,Middlesbrough,West Brom,H,4,0,1,35,D,D,L,D,W,W,46,29
341,Norwich,Charlton,H,1,0,1,35,W,D,D,L,W,L,27,45
342,Man United,Newcastle,H,2,1,1,35,L,L,L,L,D,L,67,38
343,Portsmouth,Southampton,H,4,1,1,35,L,D,D,L,W,L,35,28
344,Arsenal,Tottenham,H,1,0,1,35,D,D,W,D,W,W,71,48
345,West Brom,Blackburn,D,1,1,0,35,L,D,D,W,D,W,29,40
346,Newcastle,Middlesbrough,D,0,0,0,35,L,W,L,D,L,L,38,49
347,Birmingham,Blackburn,H,2,1,1,35,D,D,L,D,D,W,39,41
348,Bolton,Chelsea,A,0,2,-1,35,D,W,D,D,W,D,54,85
349,Fulham,Everton,H,2,0,1,35,L,D,D,W,D,W,35,58
350,Liverpool,Middlesbrough,D,1,1,0,36,L,D,W,W,D,D,54,50
351,Man City,Portsmouth,H,2,0,1,36,D,W,W,L,D,D,45,38
352,Newcastle,Crystal Palace,D,0,0,0,36,D,W,L,L,L,D,39,30
353,Southampton,Norwich,H,4,3,1,36,L,W,D,W,L,D,28,30
354,Charlton,Man United,A,0,4,-1,36,L,W,D,L,L,L,45,70
355,Tottenham,Aston Villa,H,5,1,1,36,L,D,D,D,D,W,48,47
356,West Brom,Arsenal,A,0,2,-1,36,D,W,L,D,D,W,30,74
357,Fulham,Newcastle,A,1,3,-1,36,W,D,L,D,D,L,38,40
358,Aston Villa,Man City,A,1,2,-1,36,L,W,D,D,D,W,47,48
359,Blackburn,Fulham,A,1,3,-1,36,L,L,D,W,D,L,41,38
360,Chelsea,Charlton,H,1,0,1,37,W,L,W,L,D,D,88,45
361,Crystal Palace,Southampton,D,2,2,0,37,D,W,W,L,L,D,31,31
362,Everton,Newcastle,H,2,0,1,37,L,W,D,D,W,D,58,43
363,Man United,West Brom,D,1,1,0,37,W,L,W,D,L,L,73,30
364,Middlesbrough,Tottenham,H,1,0,1,37,D,W,D,L,W,D,51,51
365,Norwich,Birmingham,H,1,0,1,37,L,W,W,D,W,L,30,42
366,Portsmouth,Bolton,D,1,1,0,37,L,L,W,D,L,D,38,54
367,Arsenal,Liverpool,H,3,1,1,37,W,D,W,L,D,W,77,55
368,Man United,Chelsea,A,1,3,-1,37,D,W,W,W,W,W,74,91
369,Arsenal,Everton,H,7,0,1,37,W,W,W,L,W,D,80,61
370,Birmingham,Arsenal,H,2,1,1,38,L,W,W,W,D,W,42,83
371,Bolton,Everton,H,3,2,1,38,D,L,L,W,D,L,55,61
372,Charlton,Crystal Palace,D,2,2,0,38,L,D,L,D,L,W,45,32
373,Fulham,Norwich,H,6,0,1,38,W,W,L,L,W,W,41,33
374,Liverpool,Aston Villa,H,2,1,1,38,L,L,D,L,L,D,55,47
375,Man City,Middlesbrough,D,1,1,0,38,W,W,W,D,D,D,51,54
376,Newcastle,Chelsea,D,1,1,0,38,L,W,W,W,D,W,43,94
377,Southampton,Man United,A,1,2,-1,38,D,L,W,D,L,W,32,74
378,Tottenham,Blackburn,D,0,0,0,38,L,L,W,L,L,D,51,41
379,West Brom,Portsmouth,H,2,0,1,38,D,D,L,L,D,W,31,39

In [85]:
def transformHM1(row):
    if(row.HM1 == 'W'):
        return 3
    elif(row.HM1 == 'L'):
        return 0
    else:
        return 1
def transformHM2(row):
    if(row.HM2 == 'W'):
        return 3
    elif(row.HM2 == 'L'):
        return 0
    else:
        return 1
def transformHM3(row):
    if(row.HM3 == 'W'):
        return 3
    elif(row.HM3 == 'L'):
        return 0
    else:
        return 1
def transformAM1(row):
    if(row.AM1 == 'W'):
        return 3
    elif(row.AM1 == 'L'):
        return 0
    else:
        return 1
def transformAM2(row):
    if(row.AM2 == 'W'):
        return 3
    elif(row.AM2 == 'L'):
        return 0
    else:
        return 1
def transformAM3(row):
    if(row.AM3 == 'W'):
        return 3
    elif(row.AM3 == 'L'):
        return 0
    else:
        return 1

In [86]:
features_labels["HM1"] = features_labels.apply(lambda row: transformHM1(row),axis=1)
features_labels["HM2"] = features_labels.apply(lambda row: transformHM2(row),axis=1)
features_labels["HM3"] = features_labels.apply(lambda row: transformHM3(row),axis=1)
features_labels["AM1"] = features_labels.apply(lambda row: transformAM1(row),axis=1)
features_labels["AM2"] = features_labels.apply(lambda row: transformAM2(row),axis=1)
features_labels["AM3"] = features_labels.apply(lambda row: transformAM3(row),axis=1)

C:\Users\Admin\AppData\Local\Temp/ipykernel_228/3743011778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels["HM1"] = features_labels.apply(lambda row: transformHM1(row),axis=1)
C:\Users\Admin\AppData\Local\Temp/ipykernel_228/3743011778.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels["HM2"] = features_labels.apply(lambda row: transformHM2(row),axis=1)
C:\Users\Admin\AppData\Local\Temp/ipykernel_228/3743011778.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels["HM3"] = features_labels.apply(lambda row: transformHM3(row),axis=1)
C:\Users\Admin\AppData\Local\Temp/ipykernel_228/3743011778.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels["AM1"] = features_labels.apply(lambda row: transformAM1(row),axis=1)
C:\Users\Admin\AppData\Local\Temp/ipykernel_228/3743011778.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels["AM2"] = features_labels.apply(lambda row: transformAM2(row),axis=1)
C:\Users\Admin\AppData\Local\Temp/ipykernel_228/3743011778.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels["AM3"] = features_labels.apply(lambda row: transformAM3(row),axis=1)

In [87]:
features_labels.tail(40)

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Result,MW,HM1,AM1,HM2,AM2,HM3,AM3,HTP,ATP
340,Middlesbrough,West Brom,H,4,0,1,35,1,1,0,1,3,3,46,29
341,Norwich,Charlton,H,1,0,1,35,3,1,1,0,3,0,27,45
342,Man United,Newcastle,H,2,1,1,35,0,0,0,0,1,0,67,38
343,Portsmouth,Southampton,H,4,1,1,35,0,1,1,0,3,0,35,28
344,Arsenal,Tottenham,H,1,0,1,35,1,1,3,1,3,3,71,48
345,West Brom,Blackburn,D,1,1,0,35,0,1,1,3,1,3,29,40
346,Newcastle,Middlesbrough,D,0,0,0,35,0,3,0,1,0,0,38,49
347,Birmingham,Blackburn,H,2,1,1,35,1,1,0,1,1,3,39,41
348,Bolton,Chelsea,A,0,2,-1,35,1,3,1,1,3,1,54,85
349,Fulham,Everton,H,2,0,1,35,0,1,1,3,1,3,35,58
350,Liverpool,Middlesbrough,D,1,1,0,36,0,1,3,3,1,1,54,50
351,Man City,Portsmouth,H,2,0,1,36,1,3,3,0,1,1,45,38
352,Newcastle,Crystal Palace,D,0,0,0,36,1,3,0,0,0,1,39,30
353,Southampton,Norwich,H,4,3,1,36,0,3,1,3,0,1,28,30
354,Charlton,Man United,A,0,4,-1,36,0,3,1,0,0,0,45,70
355,Tottenham,Aston Villa,H,5,1,1,36,0,1,1,1,1,3,48,47
356,West Brom,Arsenal,A,0,2,-1,36,1,3,0,1,1,3,30,74
357,Fulham,Newcastle,A,1,3,-1,36,3,1,0,1,1,0,38,40
358,Aston Villa,Man City,A,1,2,-1,36,0,3,1,1,1,3,47,48
359,Blackburn,Fulham,A,1,3,-1,36,0,0,1,3,1,0,41,38
360,Chelsea,Charlton,H,1,0,1,37,3,0,3,0,1,1,88,45
361,Crystal Palace,Southampton,D,2,2,0,37,1,3,3,0,0,1,31,31
362,Everton,Newcastle,H,2,0,1,37,0,3,1,1,3,1,58,43
363,Man United,West Brom,D,1,1,0,37,3,0,3,1,0,0,73,30
364,Middlesbrough,Tottenham,H,1,0,1,37,1,3,1,0,3,1,51,51
365,Norwich,Birmingham,H,1,0,1,37,0,3,3,1,3,0,30,42
366,Portsmouth,Bolton,D,1,1,0,37,0,0,3,1,0,1,38,54
367,Arsenal,Liverpool,H,3,1,1,37,3,1,3,0,1,3,77,55
368,Man United,Chelsea,A,1,3,-1,37,1,3,3,3,3,3,74,91
369,Arsenal,Everton,H,7,0,1,37,3,3,3,0,3,1,80,61
370,Birmingham,Arsenal,H,2,1,1,38,0,3,3,3,1,3,42,83
371,Bolton,Everton,H,3,2,1,38,1,0,0,3,1,0,55,61
372,Charlton,Crystal Palace,D,2,2,0,38,0,1,0,1,0,3,45,32
373,Fulham,Norwich,H,6,0,1,38,3,3,0,0,3,3,41,33
374,Liverpool,Aston Villa,H,2,1,1,38,0,0,1,0,0,1,55,47
375,Man City,Middlesbrough,D,1,1,0,38,3,3,3,1,1,1,51,54
376,Newcastle,Chelsea,D,1,1,0,38,0,3,3,3,1,3,43,94
377,Southampton,Man United,A,1,2,-1,38,1,0,3,1,0,3,32,74
378,Tottenham,Blackburn,D,0,0,0,38,0,0,3,0,0,1,51,41
379,West Brom,Portsmouth,H,2,0,1,38,1,1,0,0,1,3,31,39

In [88]:
features_labels["HomeTeamForm"]=features_labels["HM1"]+features_labels["HM2"]+features_labels["HM3"]
features_labels["AwayTeamForm"]=features_labels["AM1"]+features_labels["AM2"]+features_labels["AM3"]

C:\Users\Admin\AppData\Local\Temp/ipykernel_228/1776592587.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels["HomeTeamForm"]=features_labels["HM1"]+features_labels["HM2"]+features_labels["HM3"]
C:\Users\Admin\AppData\Local\Temp/ipykernel_228/1776592587.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels["AwayTeamForm"]=features_labels["AM1"]+features_labels["AM2"]+features_labels["AM3"]

In [89]:
features_labels.tail(40)

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Result,MW,HM1,AM1,HM2,AM2,HM3,AM3,HTP,ATP,HomeTeamForm,AwayTeamForm
340,Middlesbrough,West Brom,H,4,0,1,35,1,1,0,1,3,3,46,29,4,5
341,Norwich,Charlton,H,1,0,1,35,3,1,1,0,3,0,27,45,7,1
342,Man United,Newcastle,H,2,1,1,35,0,0,0,0,1,0,67,38,1,0
343,Portsmouth,Southampton,H,4,1,1,35,0,1,1,0,3,0,35,28,4,1
344,Arsenal,Tottenham,H,1,0,1,35,1,1,3,1,3,3,71,48,7,5
345,West Brom,Blackburn,D,1,1,0,35,0,1,1,3,1,3,29,40,2,7
346,Newcastle,Middlesbrough,D,0,0,0,35,0,3,0,1,0,0,38,49,0,4
347,Birmingham,Blackburn,H,2,1,1,35,1,1,0,1,1,3,39,41,2,5
348,Bolton,Chelsea,A,0,2,-1,35,1,3,1,1,3,1,54,85,5,5
349,Fulham,Everton,H,2,0,1,35,0,1,1,3,1,3,35,58,2,7
350,Liverpool,Middlesbrough,D,1,1,0,36,0,1,3,3,1,1,54,50,4,5
351,Man City,Portsmouth,H,2,0,1,36,1,3,3,0,1,1,45,38,5,4
352,Newcastle,Crystal Palace,D,0,0,0,36,1,3,0,0,0,1,39,30,1,4
353,Southampton,Norwich,H,4,3,1,36,0,3,1,3,0,1,28,30,1,7
354,Charlton,Man United,A,0,4,-1,36,0,3,1,0,0,0,45,70,1,3
355,Tottenham,Aston Villa,H,5,1,1,36,0,1,1,1,1,3,48,47,2,5
356,West Brom,Arsenal,A,0,2,-1,36,1,3,0,1,1,3,30,74,2,7
357,Fulham,Newcastle,A,1,3,-1,36,3,1,0,1,1,0,38,40,4,2
358,Aston Villa,Man City,A,1,2,-1,36,0,3,1,1,1,3,47,48,2,7
359,Blackburn,Fulham,A,1,3,-1,36,0,0,1,3,1,0,41,38,2,3
360,Chelsea,Charlton,H,1,0,1,37,3,0,3,0,1,1,88,45,7,1
361,Crystal Palace,Southampton,D,2,2,0,37,1,3,3,0,0,1,31,31,4,4
362,Everton,Newcastle,H,2,0,1,37,0,3,1,1,3,1,58,43,4,5
363,Man United,West Brom,D,1,1,0,37,3,0,3,1,0,0,73,30,6,1
364,Middlesbrough,Tottenham,H,1,0,1,37,1,3,1,0,3,1,51,51,5,4
365,Norwich,Birmingham,H,1,0,1,37,0,3,3,1,3,0,30,42,6,4
366,Portsmouth,Bolton,D,1,1,0,37,0,0,3,1,0,1,38,54,3,2
367,Arsenal,Liverpool,H,3,1,1,37,3,1,3,0,1,3,77,55,7,4
368,Man United,Chelsea,A,1,3,-1,37,1,3,3,3,3,3,74,91,7,9
369,Arsenal,Everton,H,7,0,1,37,3,3,3,0,3,1,80,61,9,4
370,Birmingham,Arsenal,H,2,1,1,38,0,3,3,3,1,3,42,83,4,9
371,Bolton,Everton,H,3,2,1,38,1,0,0,3,1,0,55,61,2,3
372,Charlton,Crystal Palace,D,2,2,0,38,0,1,0,1,0,3,45,32,0,5
373,Fulham,Norwich,H,6,0,1,38,3,3,0,0,3,3,41,33,6,6
374,Liverpool,Aston Villa,H,2,1,1,38,0,0,1,0,0,1,55,47,1,1
375,Man City,Middlesbrough,D,1,1,0,38,3,3,3,1,1,1,51,54,7,5
376,Newcastle,Chelsea,D,1,1,0,38,0,3,3,3,1,3,43,94,4,9
377,Southampton,Man United,A,1,2,-1,38,1,0,3,1,0,3,32,74,4,4
378,Tottenham,Blackburn,D,0,0,0,38,0,0,3,0,0,1,51,41,3,1
379,West Brom,Portsmouth,H,2,0,1,38,1,1,0,0,1,3,31,39,2,4

In [90]:
def get_accumlated_goals_scored_by_team(features_labels):
  teams = {key:[0] for key in features_labels.HomeTeam.unique()}
  
  for i, row in features_labels.iterrows():
    
    # add accumlated home team goals based on previous matches
    teams[row.HomeTeam].append(teams[row.HomeTeam][-1] + row.FTHG)
      
    # add accumlated away team goals based on previous matches
    teams[row.AwayTeam].append(teams[row.AwayTeam][-1] + row.FTAG)
  
  
  features_labels['HTGS'] = 0
  features_labels['ATGS'] = 0
  for i, row in features_labels.iterrows():
    
    features_labels.at[i, 'HTGS'] = teams[row.HomeTeam].pop(0)
    features_labels.at[i, 'ATGS'] = teams[row.AwayTeam].pop(0)
  
  return features_labels

In [91]:
features_labels = get_accumlated_goals_scored_by_team(features_labels)

C:\Users\Admin\AppData\Local\Temp/ipykernel_228/2843610131.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels['HTGS'] = 0
C:\Users\Admin\AppData\Local\Temp/ipykernel_228/2843610131.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels['ATGS'] = 0

In [92]:
features_labels.tail(30)

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Result,MW,HM1,AM1,HM2,AM2,HM3,AM3,HTP,ATP,HomeTeamForm,AwayTeamForm,HTGS,ATGS
350,Liverpool,Middlesbrough,D,1,1,0,36,0,1,3,3,1,1,54,50,4,5,48,50
351,Man City,Portsmouth,H,2,0,1,36,1,3,3,0,1,1,45,38,5,4,42,42
352,Newcastle,Crystal Palace,D,0,0,0,36,1,3,0,0,0,1,39,30,1,4,43,37
353,Southampton,Norwich,H,4,3,1,36,0,3,1,3,0,1,28,30,1,7,38,38
354,Charlton,Man United,A,0,4,-1,36,0,3,1,0,0,0,45,70,1,3,40,50
355,Tottenham,Aston Villa,H,5,1,1,36,0,1,1,1,1,3,48,47,2,5,42,42
356,West Brom,Arsenal,A,0,2,-1,36,1,3,0,1,1,3,30,74,2,7,33,74
357,Fulham,Newcastle,A,1,3,-1,36,3,1,0,1,1,0,38,40,4,2,42,43
358,Aston Villa,Man City,A,1,2,-1,36,0,3,1,1,1,3,47,48,2,7,43,44
359,Blackburn,Fulham,A,1,3,-1,36,0,0,1,3,1,0,41,38,2,3,31,43
360,Chelsea,Charlton,H,1,0,1,37,3,0,3,0,1,1,88,45,7,1,67,40
361,Crystal Palace,Southampton,D,2,2,0,37,1,3,3,0,0,1,31,31,4,4,37,42
362,Everton,Newcastle,H,2,0,1,37,0,3,1,1,3,1,58,43,4,5,41,46
363,Man United,West Brom,D,1,1,0,37,3,0,3,1,0,0,73,30,6,1,54,33
364,Middlesbrough,Tottenham,H,1,0,1,37,1,3,1,0,3,1,51,51,5,4,51,47
365,Norwich,Birmingham,H,1,0,1,37,0,3,3,1,3,0,30,42,6,4,41,38
366,Portsmouth,Bolton,D,1,1,0,37,0,0,3,1,0,1,38,54,3,2,42,45
367,Arsenal,Liverpool,H,3,1,1,37,3,1,3,0,1,3,77,55,7,4,76,49
368,Man United,Chelsea,A,1,3,-1,37,1,3,3,3,3,3,74,91,7,9,55,68
369,Arsenal,Everton,H,7,0,1,37,3,3,3,0,3,1,80,61,9,4,79,43
370,Birmingham,Arsenal,H,2,1,1,38,0,3,3,3,1,3,42,83,4,9,38,86
371,Bolton,Everton,H,3,2,1,38,1,0,0,3,1,0,55,61,2,3,46,43
372,Charlton,Crystal Palace,D,2,2,0,38,0,1,0,1,0,3,45,32,0,5,40,39
373,Fulham,Norwich,H,6,0,1,38,3,3,0,0,3,3,41,33,6,6,46,42
374,Liverpool,Aston Villa,H,2,1,1,38,0,0,1,0,0,1,55,47,1,1,50,44
375,Man City,Middlesbrough,D,1,1,0,38,3,3,3,1,1,1,51,54,7,5,46,52
376,Newcastle,Chelsea,D,1,1,0,38,0,3,3,3,1,3,43,94,4,9,46,71
377,Southampton,Man United,A,1,2,-1,38,1,0,3,1,0,3,32,74,4,4,44,56
378,Tottenham,Blackburn,D,0,0,0,38,0,0,3,0,0,1,51,41,3,1,47,32
379,West Brom,Portsmouth,H,2,0,1,38,1,1,0,0,1,3,31,39,2,4,34,43

In [93]:
def get_accumlated_goals_conceded_by_team(features_labels):
  teams = {key:[0] for key in features_labels.HomeTeam.unique()}
  
  for i, row in features_labels.iterrows():
    
    # add accumlated home team goals based on previous matches
    teams[row.HomeTeam].append(teams[row.HomeTeam][-1] + row.FTAG)
      
    # add accumlated away team goals based on previous matches
    teams[row.AwayTeam].append(teams[row.AwayTeam][-1] + row.FTHG)
  
  
  features_labels['HTGC'] = 0
  features_labels['ATGC'] = 0
  for i, row in features_labels.iterrows():
    
    features_labels.at[i, 'HTGC'] = teams[row.HomeTeam].pop(0)
    features_labels.at[i, 'ATGC'] = teams[row.AwayTeam].pop(0)
  
  return features_labels

In [94]:
features_labels = get_accumlated_goals_conceded_by_team(features_labels)

C:\Users\Admin\AppData\Local\Temp/ipykernel_228/2544943314.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels['HTGC'] = 0
C:\Users\Admin\AppData\Local\Temp/ipykernel_228/2544943314.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels['ATGC'] = 0

In [95]:
features_labels.tail(30)

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Result,MW,HM1,AM1,HM2,...,HM3,AM3,HTP,ATP,HomeTeamForm,AwayTeamForm,HTGS,ATGS,HTGC,ATGC
350,Liverpool,Middlesbrough,D,1,1,0,36,0,1,3,...,1,1,54,50,4,5,48,50,36,44
351,Man City,Portsmouth,H,2,0,1,36,1,3,3,...,1,1,45,38,5,4,42,42,37,54
352,Newcastle,Crystal Palace,D,0,0,0,36,1,3,0,...,0,1,39,30,1,4,43,37,53,58
353,Southampton,Norwich,H,4,3,1,36,0,3,1,...,0,1,28,30,1,7,38,38,59,67
354,Charlton,Man United,A,0,4,-1,36,0,3,1,...,0,0,45,70,1,3,40,50,51,21
355,Tottenham,Aston Villa,H,5,1,1,36,0,1,1,...,1,3,48,47,2,5,42,42,39,43
356,West Brom,Arsenal,A,0,2,-1,36,1,3,0,...,1,3,30,74,2,7,33,74,58,33
357,Fulham,Newcastle,A,1,3,-1,36,3,1,0,...,1,0,38,40,4,2,42,43,56,53
358,Aston Villa,Man City,A,1,2,-1,36,0,3,1,...,1,3,47,48,2,7,43,44,48,37
359,Blackburn,Fulham,A,1,3,-1,36,0,0,1,...,1,0,41,38,2,3,31,43,40,59
360,Chelsea,Charlton,H,1,0,1,37,3,0,3,...,1,1,88,45,7,1,67,40,13,55
361,Crystal Palace,Southampton,D,2,2,0,37,1,3,3,...,0,1,31,31,4,4,37,42,58,62
362,Everton,Newcastle,H,2,0,1,37,0,3,1,...,3,1,58,43,4,5,41,46,36,54
363,Man United,West Brom,D,1,1,0,37,3,0,3,...,0,0,73,30,6,1,54,33,21,60
364,Middlesbrough,Tottenham,H,1,0,1,37,1,3,1,...,3,1,51,51,5,4,51,47,45,40
365,Norwich,Birmingham,H,1,0,1,37,0,3,3,...,3,0,30,42,6,4,41,38,71,44
366,Portsmouth,Bolton,D,1,1,0,37,0,0,3,...,0,1,38,54,3,2,42,45,56,41
367,Arsenal,Liverpool,H,3,1,1,37,3,1,3,...,1,3,77,55,7,4,76,49,33,37
368,Man United,Chelsea,A,1,3,-1,37,1,3,3,...,3,3,74,91,7,9,55,68,22,13
369,Arsenal,Everton,H,7,0,1,37,3,3,3,...,3,1,80,61,9,4,79,43,34,36
370,Birmingham,Arsenal,H,2,1,1,38,0,3,3,...,1,3,42,83,4,9,38,86,45,34
371,Bolton,Everton,H,3,2,1,38,1,0,0,...,1,0,55,61,2,3,46,43,42,43
372,Charlton,Crystal Palace,D,2,2,0,38,0,1,0,...,0,3,45,32,0,5,40,39,56,60
373,Fulham,Norwich,H,6,0,1,38,3,3,0,...,3,3,41,33,6,6,46,42,60,71
374,Liverpool,Aston Villa,H,2,1,1,38,0,0,1,...,0,1,55,47,1,1,50,44,40,50
375,Man City,Middlesbrough,D,1,1,0,38,3,3,3,...,1,1,51,54,7,5,46,52,38,45
376,Newcastle,Chelsea,D,1,1,0,38,0,3,3,...,1,3,43,94,4,9,46,71,56,14
377,Southampton,Man United,A,1,2,-1,38,1,0,3,...,0,3,32,74,4,4,44,56,64,25
378,Tottenham,Blackburn,D,0,0,0,38,0,0,3,...,0,1,51,41,3,1,47,32,41,43
379,West Brom,Portsmouth,H,2,0,1,38,1,1,0,...,1,3,31,39,2,4,34,43,61,57

In [96]:
features_labels['AvHTGS'] = features_labels['HTGS']/features_labels['MW']
features_labels['AvHTGC'] = features_labels['HTGC']/features_labels['MW']
features_labels['AvATGS'] = features_labels['ATGS']/features_labels['MW']
features_labels['AvATGC'] = features_labels['ATGC']/features_labels['MW']

C:\Users\Admin\AppData\Local\Temp/ipykernel_228/1346198725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_labels['AvHTGS'] = features_labels['HTGS']/features_labels['MW']

In [97]:
features_labels.tail(30)

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Result,MW,HM1,AM1,HM2,...,HomeTeamForm,AwayTeamForm,HTGS,ATGS,HTGC,ATGC,AvHTGS,AvHTGC,AvATGS,AvATGC
350,Liverpool,Middlesbrough,D,1,1,0,36,0,1,3,...,4,5,48,50,36,44,1.333333,1.000000,1.388889,1.222222
351,Man City,Portsmouth,H,2,0,1,36,1,3,3,...,5,4,42,42,37,54,1.166667,1.027778,1.166667,1.500000
352,Newcastle,Crystal Palace,D,0,0,0,36,1,3,0,...,1,4,43,37,53,58,1.194444,1.472222,1.027778,1.611111
353,Southampton,Norwich,H,4,3,1,36,0,3,1,...,1,7,38,38,59,67,1.055556,1.638889,1.055556,1.861111
354,Charlton,Man United,A,0,4,-1,36,0,3,1,...,1,3,40,50,51,21,1.111111,1.416667,1.388889,0.583333
355,Tottenham,Aston Villa,H,5,1,1,36,0,1,1,...,2,5,42,42,39,43,1.166667,1.083333,1.166667,1.194444
356,West Brom,Arsenal,A,0,2,-1,36,1,3,0,...,2,7,33,74,58,33,0.916667,1.611111,2.055556,0.916667
357,Fulham,Newcastle,A,1,3,-1,36,3,1,0,...,4,2,42,43,56,53,1.166667,1.555556,1.194444,1.472222
358,Aston Villa,Man City,A,1,2,-1,36,0,3,1,...,2,7,43,44,48,37,1.194444,1.333333,1.222222,1.027778
359,Blackburn,Fulham,A,1,3,-1,36,0,0,1,...,2,3,31,43,40,59,0.861111,1.111111,1.194444,1.638889
360,Chelsea,Charlton,H,1,0,1,37,3,0,3,...,7,1,67,40,13,55,1.810811,0.351351,1.081081,1.486486
361,Crystal Palace,Southampton,D,2,2,0,37,1,3,3,...,4,4,37,42,58,62,1.000000,1.567568,1.135135,1.675676
362,Everton,Newcastle,H,2,0,1,37,0,3,1,...,4,5,41,46,36,54,1.108108,0.972973,1.243243,1.459459
363,Man United,West Brom,D,1,1,0,37,3,0,3,...,6,1,54,33,21,60,1.459459,0.567568,0.891892,1.621622
364,Middlesbrough,Tottenham,H,1,0,1,37,1,3,1,...,5,4,51,47,45,40,1.378378,1.216216,1.270270,1.081081
365,Norwich,Birmingham,H,1,0,1,37,0,3,3,...,6,4,41,38,71,44,1.108108,1.918919,1.027027,1.189189
366,Portsmouth,Bolton,D,1,1,0,37,0,0,3,...,3,2,42,45,56,41,1.135135,1.513514,1.216216,1.108108
367,Arsenal,Liverpool,H,3,1,1,37,3,1,3,...,7,4,76,49,33,37,2.054054,0.891892,1.324324,1.000000
368,Man United,Chelsea,A,1,3,-1,37,1,3,3,...,7,9,55,68,22,13,1.486486,0.594595,1.837838,0.351351
369,Arsenal,Everton,H,7,0,1,37,3,3,3,...,9,4,79,43,34,36,2.135135,0.918919,1.162162,0.972973
370,Birmingham,Arsenal,H,2,1,1,38,0,3,3,...,4,9,38,86,45,34,1.000000,1.184211,2.263158,0.894737
371,Bolton,Everton,H,3,2,1,38,1,0,0,...,2,3,46,43,42,43,1.210526,1.105263,1.131579,1.131579
372,Charlton,Crystal Palace,D,2,2,0,38,0,1,0,...,0,5,40,39,56,60,1.052632,1.473684,1.026316,1.578947
373,Fulham,Norwich,H,6,0,1,38,3,3,0,...,6,6,46,42,60,71,1.210526,1.578947,1.105263,1.868421
374,Liverpool,Aston Villa,H,2,1,1,38,0,0,1,...,1,1,50,44,40,50,1.315789,1.052632,1.157895,1.315789
375,Man City,Middlesbrough,D,1,1,0,38,3,3,3,...,7,5,46,52,38,45,1.210526,1.000000,1.368421,1.184211
376,Newcastle,Chelsea,D,1,1,0,38,0,3,3,...,4,9,46,71,56,14,1.210526,1.473684,1.868421,0.368421
377,Southampton,Man United,A,1,2,-1,38,1,0,3,...,4,4,44,56,64,25,1.157895,1.684211,1.473684,0.657895
378,Tottenham,Blackburn,D,0,0,0,38,0,0,3,...,3,1,47,32,41,43,1.236842,1.078947,0.842105,1.131579
379,West Brom,Portsmouth,H,2,0,1,38,1,1,0,...,2,4,34,43,61,57,0.894737,1.605263,1.131579,1.500000

In [99]:
DATASET = features_labels[['HomeTeam','AwayTeam','FTR', 'FTHG','FTAG','Result','HomeTeamForm','AwayTeamForm','AvHTGS','AvHTGC','AvATGS','AvATGC','HTP','ATP']]

In [100]:
DATASET.tail(40)

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Result,HomeTeamForm,AwayTeamForm,AvHTGS,AvHTGC,AvATGS,AvATGC,HTP,ATP
340,Middlesbrough,West Brom,H,4,0,1,4,5,1.314286,1.257143,0.914286,1.514286,46,29
341,Norwich,Charlton,H,1,0,1,7,1,1.057143,1.914286,1.142857,1.428571,27,45
342,Man United,Newcastle,H,2,1,1,1,0,1.371429,0.571429,1.200000,1.457143,67,38
343,Portsmouth,Southampton,H,4,1,1,4,1,1.085714,1.514286,1.057143,1.571429,35,28
344,Arsenal,Tottenham,H,1,0,1,7,5,2.085714,0.942857,1.200000,1.085714,71,48
345,West Brom,Blackburn,D,1,1,0,2,7,0.914286,1.628571,0.828571,1.057143,29,40
346,Newcastle,Middlesbrough,D,0,0,0,0,4,1.228571,1.514286,1.428571,1.257143,38,49
347,Birmingham,Blackburn,H,2,1,1,2,5,1.028571,1.228571,0.857143,1.085714,39,41
348,Bolton,Chelsea,A,0,2,-1,5,5,1.285714,1.114286,1.857143,0.371429,54,85
349,Fulham,Everton,H,2,0,1,2,7,1.142857,1.600000,1.171429,0.971429,35,58
350,Liverpool,Middlesbrough,D,1,1,0,4,5,1.333333,1.000000,1.388889,1.222222,54,50
351,Man City,Portsmouth,H,2,0,1,5,4,1.166667,1.027778,1.166667,1.500000,45,38
352,Newcastle,Crystal Palace,D,0,0,0,1,4,1.194444,1.472222,1.027778,1.611111,39,30
353,Southampton,Norwich,H,4,3,1,1,7,1.055556,1.638889,1.055556,1.861111,28,30
354,Charlton,Man United,A,0,4,-1,1,3,1.111111,1.416667,1.388889,0.583333,45,70
355,Tottenham,Aston Villa,H,5,1,1,2,5,1.166667,1.083333,1.166667,1.194444,48,47
356,West Brom,Arsenal,A,0,2,-1,2,7,0.916667,1.611111,2.055556,0.916667,30,74
357,Fulham,Newcastle,A,1,3,-1,4,2,1.166667,1.555556,1.194444,1.472222,38,40
358,Aston Villa,Man City,A,1,2,-1,2,7,1.194444,1.333333,1.222222,1.027778,47,48
359,Blackburn,Fulham,A,1,3,-1,2,3,0.861111,1.111111,1.194444,1.638889,41,38
360,Chelsea,Charlton,H,1,0,1,7,1,1.810811,0.351351,1.081081,1.486486,88,45
361,Crystal Palace,Southampton,D,2,2,0,4,4,1.000000,1.567568,1.135135,1.675676,31,31
362,Everton,Newcastle,H,2,0,1,4,5,1.108108,0.972973,1.243243,1.459459,58,43
363,Man United,West Brom,D,1,1,0,6,1,1.459459,0.567568,0.891892,1.621622,73,30
364,Middlesbrough,Tottenham,H,1,0,1,5,4,1.378378,1.216216,1.270270,1.081081,51,51
365,Norwich,Birmingham,H,1,0,1,6,4,1.108108,1.918919,1.027027,1.189189,30,42
366,Portsmouth,Bolton,D,1,1,0,3,2,1.135135,1.513514,1.216216,1.108108,38,54
367,Arsenal,Liverpool,H,3,1,1,7,4,2.054054,0.891892,1.324324,1.000000,77,55
368,Man United,Chelsea,A,1,3,-1,7,9,1.486486,0.594595,1.837838,0.351351,74,91
369,Arsenal,Everton,H,7,0,1,9,4,2.135135,0.918919,1.162162,0.972973,80,61
370,Birmingham,Arsenal,H,2,1,1,4,9,1.000000,1.184211,2.263158,0.894737,42,83
371,Bolton,Everton,H,3,2,1,2,3,1.210526,1.105263,1.131579,1.131579,55,61
372,Charlton,Crystal Palace,D,2,2,0,0,5,1.052632,1.473684,1.026316,1.578947,45,32
373,Fulham,Norwich,H,6,0,1,6,6,1.210526,1.578947,1.105263,1.868421,41,33
374,Liverpool,Aston Villa,H,2,1,1,1,1,1.315789,1.052632,1.157895,1.315789,55,47
375,Man City,Middlesbrough,D,1,1,0,7,5,1.210526,1.000000,1.368421,1.184211,51,54
376,Newcastle,Chelsea,D,1,1,0,4,9,1.210526,1.473684,1.868421,0.368421,43,94
377,Southampton,Man United,A,1,2,-1,4,4,1.157895,1.684211,1.473684,0.657895,32,74
378,Tottenham,Blackburn,D,0,0,0,3,1,1.236842,1.078947,0.842105,1.131579,51,41
379,West Brom,Portsmouth,H,2,0,1,2,4,0.894737,1.605263,1.131579,1.500000,31,39